<!-- Start  page-footer Section-->
<footer class="page-footer dark-color-footer" id="page-footer">
  <div class="overlay-photo-image-bg" data-bg-img="/assets/sections-bg-images/footer-bg-1.jpg" data-bg-opacity=".25"></div>
  <div class="container">
    <div class="row footer-cols">
      <div class="col-12 col-md-8 col-lg-3  footer-col ">

        {# <img class="img-fluid footer-logo" loading="lazy" src="/assets/logo/logo-colored.png" alt="logo"/> #}
        <img class="logo-img light-logo" loading="lazy" src="/assets/logo/logo-itportal-light.svg" alt="logo" width="160" height="29"/>
        {# <img class="logo-img  dark-logo" loading="lazy" src="/assets/logo/logo-itportal-dark.svg" alt="logo"/> #}
        
      </div>
      <div class="col-6 col-lg-3  footer-col ">
        <h2 class=" footer-col-title    ">useful links</h2>
        <div class="footer-col-content-wrapper">
          <ul class="footer-menu ">
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="https://billing.siportal.net/">Billing</a>
            </li>
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="https://www.itportal.com/v4/code/?rID=Changes">Roadmap and Changes</a>
            </li>
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="https://itportal1.statuspage.io/">Cloud Status Page</a>
            </li>
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="http://kb.siportal.com/portal3/login/">Knowledge Base</a>
            </li>
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="/pricing">Pricing</a>
            </li>
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="/faqs">FAQs</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-3 footer-col ">
        <h2 class=" footer-col-title    ">Resources</h2>
        <div class="footer-col-content-wrapper">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="/features">Features</a>
            </li>
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="/integrations">Integrations</a>
            </li>
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="/documentation">Documentation</a>
            </li>
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="/security">Security</a>
            </li>
            <li class="footer-menu-item">
              <i class="bi bi-arrow-right icon "></i>
              <a class="footer-menu-link" href="/demo">Demo</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12     col-lg-3 footer-col ">
        <h2 class=" footer-col-title    ">contact information</h2>
        <div class="footer-col-content-wrapper">
          <div class="contact-info-card">
            <i class="bi bi-envelope icon"></i>
            <a class="text-lowercase  info" href="mailto:support@itportal.com">support@itportal.com</a>
          </div>
          <div class="contact-info-card">
            <i class="bi bi-geo-alt icon"></i>
            <span class="text-lowercase  info">204 E Orange St, Suite 301<br />Lakeland, FL 33801</span></div>
          <div class="contact-info-card">
            <i class="bi bi-phone icon"></i>
            <a class="info" href="tel:8444876782">(844) 487-6782</a>
          </div>
          <div class="contact-info-card">
            <div class="social-icons">
              <div class="sc-wrapper dir-row sc-size-32">
                <ul class="sc-list">
                  <li class="sc-item " title="Facebook">
                    <a class="sc-link" href="#0" title="social media icon">
                      <i class="fab fa-facebook-f sc-icon"></i>
                    </a>
                  </li>
                  <li class="sc-item " title="youtube">
                    <a class="sc-link" href="#0" title="social media icon">
                      <i class="fab fa-youtube sc-icon"></i>
                    </a>
                  </li>
                  <li class="sc-item " title="instagram">
                    <a class="sc-link" href="#0" title="social media icon">
                      <i class="fab fa-instagram sc-icon"></i>
                    </a>
                  </li>
                  <li class="sc-item " title="twitter">
                    <a class="sc-link" href="#0" title="social media icon">
                      <i class="fab fa-twitter sc-icon"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights ">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-start">
          <p class="creadits">
            &copy; 2024 Created by <a class="link" href="https://www.templatemonster.com/authors/aminthemes/">amin-themes</a>, <a class="link" href="https://www.heavyform.com/">Heavyform</a> and <a class="link" href="https://talpitoo.com/">talpitoo</a>
          </p>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-end">
          <div class="terms-links">
            <a href="/terms-of-use">Terms of Use</a>
                | <a href="/privacy-policy">Privacy Policy</a> | <a href="/do-not-sell-my-personal-information">Do Not Sell My Personal Information</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End  page-footer Section-->