<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {% if page.url == '/' %}IT Portal{% else %}{{ title }} | IT Portal{% endif %}
</title>
{% if description %}
    <meta name="description" content="{{ description }}">
{% else %}
    <meta name="description" content="IT Portal is a cloud and on premise offering for IT Documentation and MSP Documentation. IT Portal securely centralize docs, licenses, logins, contacts, apps, & devices. IT Portal transforms Documentation.">
{% endif %}
<meta name="keywords" content="TODO">
<meta name="author" content="IT Portal">

{# fonts, CSS #}
{# <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/main.css"/> #}
{# NOTE: in case further load speed optimization is required <link rel="stylesheet" media='print' onload="this.media='all'" href="/css/vendor/swiper-bundle.min.css" > #}
{# NOTE: optional JS import for debugging <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> #}

{# favicons #}
<link rel="icon" href="/assets/favicon.ico" sizes="32x32">
<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png"><!-- 180×180 -->
<link rel="manifest" href="/site.webmanifest">

{# open graph #}
{# <meta property="og:image" content="/assets/og-cover-logo-TODO.png"/>
<meta property="twitter:image" content="/assets/og-cover-logo-TODO.png"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/> #}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="IT Portal is a cloud and on premise offering for IT Documentation and MSP Documentation. IT Portal securely centralize docs, licenses, logins, contacts, apps, & devices. IT Portal transforms Documentation.">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- fav icon -->
<link rel="icon" href="assets/images/fav-icon/fav-icon.png">

<!-- bootstarp -->
<link rel="stylesheet" href="/css/vendors/bootstrap.min.css">

<!-- animate.css file -->
<link rel="stylesheet" href="/css/vendors/animate.css">

<!-- Swiper -->
<link rel="stylesheet" href="/css/vendors/swiper-bundle.min.css">

<!-- flaticon -->
<link rel="stylesheet" href="/css/vendors/flaticon/flaticon.css">

<!-- fontAwesome -->
<link rel="stylesheet" href="/css/vendors/all.min.css">

<!-- bootstrap icons -->
<link rel="stylesheet" href="/css/vendors/bootstrap-icons-1.9.1/bootstrap-icons.css">

<!-- Fancybox -->
<link rel="stylesheet" href="/css/vendors/jquery.fancybox.min.css">

<!-- fonts site preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com">

<!-- fonts site preconnect -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Font Family -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&amp;display=swap">

<!-- main-LTR -->
{# <link rel="stylesheet" href="/css/main-LTR.css"> #}
<link rel="stylesheet" href="/css/main.css">
<title>IT Portal | IT Documentation | MSP Documentation Inc.</title>

{# TODO: fix the sass compilation #}
{% include "components/css-temporary.njk" %}
<link rel="stylesheet" href="/css/cookieconsent.css" media="print" onload="this.media='all'">