<!--Start Page Header-->
<header class=" page-header   header-basic" id="page-header">
  <div class="header-search-box">
    <div class="close-search"></div>
    <form class="nav-search search-form" role="search" method="get" action="#">
      <div class="search-wrapper">
        <label class="search-lbl">Search for:</label>
        <input class="search-input" type="search" placeholder="Search..." name="searchInput" autofocus="autofocus"/>
        <button class="search-btn" type="submit">
          <i class="bi bi-search icon"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="container">
    <nav class="menu-navbar">
      <div class="header-logo">
        <a class="logo-link" href="/">
          <!--
              <img class="logo-img light-logo" loading="lazy" src="/assets/images/logo/logo-light.png" alt="logo"/>
              <img class="logo-img  dark-logo" loading="lazy" src="/assets/images/logo/logo-dark.png" alt="logo"/>
              -->

          <img class="logo-img light-logo" loading="lazy" src="/assets/images/logo/logo-itportal-light.svg" alt="logo"/>
          <img class="logo-img  dark-logo" loading="lazy" src="/assets/images/logo/logo-itportal-dark.svg" alt="logo"/>
        </a>
      </div>
      <div class="links menu-wrapper ">
        <ul class="list-js links-list">
          <li class="menu-item has-sub-menu">
            <a class="menu-link   active" href="/">Solutions <i class="fas fa-plus  plus-icon"></i>
            </a>
            <ul class="sub-menu ">
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="#">MSP</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="#">IT Dept</a>
              </li>

              <!--
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="./">home 1</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="home-2.html">home 2</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="home-2.html">home 3 [ Slider Style 1 ]</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="home-3.html">home 4 [ Slider Style 2 ]</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="home-rtl.html">home [ RTL languages ]</a></li>
                  -->
            </ul>
          </li>
          <!-- <li class="menu-item"><a class="menu-link  " href="about-us.html">about us </a></li> -->
          <li class="menu-item has-sub-menu">
            <a class="menu-link  " href="/features">Features<i class="fas fa-plus  plus-icon"></i>
            </a>
            <ul class="sub-menu ">
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/features/password-plugin">Password Plugin</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/features/scoreboard">Scoreboard</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/features/editors">Editors</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/features/mobile">Mobile</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/features/network-import">Network Import</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/features/device-import">Device Import</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/features/export">Export</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/features">See All Features...</a>
              </li>
            </ul>
          </li>
          <li class="menu-item has-sub-menu">
            <a class="menu-link  " href="/integrations">Integrations <i class="fas fa-plus  plus-icon"></i>
            </a>
            <ul class="sub-menu ">
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="portfolio-blocks.html">PSAs & RMMs</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="portfolio-slider.html">Authentication & Data</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="portfolio-grid.html">Integration Demos</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="portfolio-grid.html">Integration Videos</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="portfolio-grid.html">Integration Samples</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="portfolio-single.html">integration #6</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/integrations">See All Integrations...</a>
              </li>
            </ul>
          </li>
          <!--
              <li class="menu-item has-sub-menu"><a class="menu-link  " href="#0">blog<i class="fas fa-plus  plus-icon"> </i></a>
                <ul class="sub-menu ">
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="blog-home-1-col.html">blog home 1 colmun</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="blog-home-2-col.html">blog home 2 columns</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="blog-home-3-col.html">blog home 3 columns</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="post-single.html">single post</a></li>
                </ul>
              </li>
              <li class="menu-item has-sub-menu"><a class="menu-link  " href="#0">pages<i class="fas fa-plus  plus-icon"> </i></a>
                <ul class="sub-menu ">
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="pricing.html">pricing plans</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="our-team.html">our team</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="team-member.html">team member</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="faq.html">FAQ</a></li>
                  <li class="menu-item sub-menu-item"><a class="menu-link sub-menu-link  " href="404.html">404 page</a></li>
                </ul>
              </li>
              -->
          <li class="menu-item">
            <a class="menu-link  " href="#">Pricing </a>
          </li>
          <!-- <li class="menu-item"><a class="menu-link  " href="contact-us.html">contact us </a></li> -->
          <li class="menu-item has-sub-menu">
            <a class="menu-link  " href="#0">About us <i class="fas fa-plus  plus-icon"></i>
            </a>
            <ul class="sub-menu ">
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="#">Our Story</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="#">Mission Vision</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="#">The Team</a>
              </li>
              <li class="menu-item sub-menu-item">
                <a class="menu-link sub-menu-link  " href="/contact">Contact us</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="controls-box">
        <!--Menu Toggler button-->
        <div class="control  menu-toggler">
          <span></span>
          <span></span>
          <span></span></div>
        <!--search Icon button-->
        <div class="control header-search-btn">
          <i class="bi bi-search icon"></i>
        </div>
        <!--Dark/Light mode button-->
        <div class="mode-switcher ">
          <div class="switch-inner go-light " title="Switch To Light Mode ">
            <i class="bi bi-sun icon "></i>
          </div>
          <div class="switch-inner go-dark" title="Switch To Dark Mode ">
            <i class="bi bi-moon icon "></i>
          </div>
        </div>
        <!--mini shoping cart-->
      </div>
    </nav>
  </div>
</header>
<!--End Page Header-->