<div class="service-sidebar ">
    <div class="sidebar-pane">
        <h2 class="sidebar-title">IT Portal Sample Documentation </h2>
        <p>The links shown provide some examples that you can reference to get an idea of how documentation works.</p>
        <ul class="list">
            <li class="list-item">
                {# <li class="list-item active"> #}
                <i class="flaticon-web-development font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/dashboard">Global Dashboard (Synopsis) <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-nanotechnology font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/companies/735">Company Dashboard <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-web-domain font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/devices/735/433">Blade Chassis <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-profile font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/devices/735/333">Firewall <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-search font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/devices?ClientID=735">Device listing <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-strategy font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/devices/735/441">Domain Controller imported using our device import option <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-strategy font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/documents/735/38">Server Room Gallery (Folders tab --> Image icon) <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-profile font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/sites/735/302">Site w/Diagram <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-profile font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/kbs/0/15">KB Article <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-profile font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/accounts/735/176">ESXi Root Login <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-profile font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/accounts/735/4">Godaddy Domain Registrar <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-profile font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/agreements/735/48">VMWare vSphere Standard License <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-profile font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/configurations?ClientID=735">Configuration Listing <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-profile font-icon"></i>
                <a href="http://demo.itportal.com/v4/app/configurations/735/1114">Documented Application and related users <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
        </ul>
    </div>
    
</div>