<div class="service-sidebar ">
    <div class="sidebar-pane">
        <h2 class="sidebar-title">Top IT Portal Features</h2>
        <p>See what makes our Portal unlike anything else out there</p>
        <ul class="list">
            <li class="list-item">
                {# <li class="list-item active"> #}
                <i class="flaticon-web-development font-icon"></i>
                <a href="{{ baseUrl }}/features/password-plugin">Password Plugin <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-nanotechnology font-icon"></i>
                <a href="{{ baseUrl }}/features/scoreboard">Scoreboard <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-web-domain font-icon"></i>
                <a href="{{ baseUrl }}/features/editors">Editors <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-profile font-icon"></i>
                <a href="{{ baseUrl }}/features/mobile">Mobile <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-search font-icon"></i>
                <a href="{{ baseUrl }}/features/network-import">Network Import <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-strategy font-icon"></i>
                <a href="{{ baseUrl }}/features/device-import">Device Import <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
            <li class="list-item">
                <i class="flaticon-strategy font-icon"></i>
                <a href="{{ baseUrl }}/features/export">Export <i class="bi bi-arrow-right icon "></i>
                </a>
            </li>
        </ul>
    </div>
    {# <div class="sidebar-pane">
                        <div class="download-area">
                            <h2 class="sidebar-title">download assets</h2>
                            <p class="sidebar-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minima distinctio dolores quidem ducimus! Illum.</p>
                            <ul class="list">
                                <li class="list-item">
                                    <i class="flaticon-downloading font-icon"></i>
                                    <a href="{{ baseUrl }}/features/password">
                         service-report<i class="bi bi-arrow-right icon "></i>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <i class="flaticon-downloading font-icon"></i>
                                    <a href="{{ baseUrl }}/features/password">
                         all services<i class="bi bi-arrow-right icon "></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> #}
    {# <div class="sidebar-pane">
                        <div class="social-area">
                            <h2 class="sidebar-title">follow us</h2>
                            <div class="sc-wrapper dir-row sc-size-40">
                                <ul class="sc-list">
                                    <li class="sc-item " title="Facebook">
                                        <a class="sc-link" href="{{ baseUrl }}/features/password" title="social media icon">
                                            <i class="fab fa-facebook-f sc-icon"></i>
                                        </a>
                                    </li>
                                    <li class="sc-item " title="youtube">
                                        <a class="sc-link" href="{{ baseUrl }}/features/password" title="social media icon">
                                            <i class="fab fa-youtube sc-icon"></i>
                                        </a>
                                    </li>
                                    <li class="sc-item " title="instagram">
                                        <a class="sc-link" href="{{ baseUrl }}/features/password" title="social media icon">
                                            <i class="fab fa-instagram sc-icon"></i>
                                        </a>
                                    </li>
                                    <li class="sc-item " title="twitter">
                                        <a class="sc-link" href="{{ baseUrl }}/features/password" title="social media icon">
                                            <i class="fab fa-twitter sc-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> #}
</div>