#animation_container {
  position: static !important;
  margin-top: 40px;

  @include media-breakpoint-up(lg) {
    position: absolute !important;
    margin-top: 0;
  }

  &.canvas-integrations,
  &.canvas-features,
  &.canvas-security,
  &.canvas-password-management,
  &.canvas-about {
    width: 100% !important;
    height: auto !important;

    @include media-breakpoint-up(lg) {
      position: static !important;
    }

    canvas {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.page-features,
.page-security,
.page-about-us {
  .page-hero {
    padding-bottom: 0;
  }
}

.page-pricing,
.page-documentation,
.page-faqs,
.page-contact,
.page-sample-documentation {
  .page-hero {
    padding-top: 150px;
  }
}

.page-hero-generic {
  padding-top: 150px;  
}
