#animation_container {
  position: static !important;
  margin-top: 40px;

  @include media-breakpoint-up(lg) {
    position: absolute !important;
    margin-top: 0;
  }

  &.canvas-security,
  &.canvas-password-management {
    width: 50% !important;
    height: auto !important;
    margin: 1rem auto 0;

    @include media-breakpoint-up(lg) {
      position: static !important;
    }
  }

  &.canvas-integrations,
  &.canvas-features {
    width: 100% !important;
    height: auto !important;

    @include media-breakpoint-up(lg) {
      position: static !important;
    }

    canvas {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.canvas-security canvas {
  width: 100% !important;
  height: auto !important;
}

.page-features {
  .page-hero {
    padding-bottom: 0;
  }
}
