/*===================================================
Project: flex-it - IT Solutions & Business Services Responsive HTML5 Bootstrap5  Website Template 
Auther: amin-themes
Version: 2.0
Last change: 22 March 2023
Template Description: IT Solutions & Business Services Responsive HTML5 Bootstrap5  Website Template 
====================================================*/

/*==
- global-rules and helper classes
- page-header
- page-hero 
- services
- about 
- portfolio 
- portfolio-single  
- our-team 
- our-clients 
- faq 
- testimonials 
- contact-us 
- take-action 
- page-footer 
- blog
- 404 Page
- pricing
- stats
- Dark Theme Rules
===*/

/* start global, helper classes , Components Rules*/
@import "1-helpers/_variables";
@import "1-helpers/_mixins";
@import "1-helpers/_globals";
@import "1-helpers/_custom-animations";

@import "2-components/_buttons";
@import "2-components/_breadcrumb";
@import "2-components/_forms";
@import "2-components/_loading-screen";
@import "2-components/_header-search-box";
/*ُEnd global, helper classes , components Rules*/

/* Start .page-header and other Rules   */
@import "3-layout/_page-header";
@import "3-layout/_page-hero";
@import "3-layout/_services";
@import "3-layout/_about";
@import "3-layout/_portfolio";
@import "3-layout/_portfolio-single";
@import "3-layout/_our-team";
@import "3-layout/_our-clients";
@import "3-layout/_faq";
@import "3-layout/_testimonials";
@import "3-layout/_contact-us";
@import "3-layout/_take-action";
@import "3-layout/_page-footer";
@import "3-layout/_blog";
@import "3-layout/_404";
@import "3-layout/_benefits";
@import "3-layout/_pricing";
@import "3-layout/_stats";
@import "1-helpers/_dark-theme";
/* End .page-header and other Rules   */
