.itportal-anchor-offset {
  // &::before {
  //   display: block;
  //   // height: 90px; //map-get($spacers, "navbar");
  //   margin-top: 90px; //map-get($spacers, "navbar") * -1;
  //   visibility: hidden;
  //   content: "";
  // }

  // &.itportal-anchor-offset-first {
  //   &::before {
  //     height: map-get($spacers, "navbar") * 2;
  //   }
  // }
}

.itportal-snap-container {
  scroll-snap-type: y proximity;
  // scroll-snap-type: y mandatory;

  body {
    scroll-snap-type: y proximity;
    // scroll-snap-type: y mandatory
  }

  .itportal-scroll-snap {
    scroll-snap-align: start;
    scroll-margin: 16px;
    // scroll-snap-stop: always;
  }
}