// TODO: review
// .text-primary {
//   color: var(--clr-main) !important;
// }

.position-lg-absolute {
  @include media-breakpoint-up(lg) {
    position: absolute !important;
  }
}

.text-itportal-main {
  color: $itportal-main !important;
}

.text-itportal-primary {
  color: $itportal-primary !important;
}

.text-itportal-primary-dark {
  color: $itportal-primary-dark !important;
}

.text-itportal-secondary {
  color: $itportal-secondary !important;
}

.text-itportal-secondary-dark {
  color: $itportal-secondary-dark !important;
}