.itportal-anchor-offset {
  // &::before {
  //   display: block;
  //   // height: 90px; //map-get($spacers, "navbar");
  //   margin-top: 90px; //map-get($spacers, "navbar") * -1;
  //   visibility: hidden;
  //   content: "";
  // }

  // &.itportal-anchor-offset-first {
  //   &::before {
  //     height: map-get($spacers, "navbar") * 2;
  //   }
  // }
}

// .itportal-snap-container {
//   scroll-snap-type: y proximity;
//   // scroll-snap-type: y mandatory;

//   body {
//     scroll-snap-type: y proximity;
//     // scroll-snap-type: y mandatory
//   }

//   .itportal-scroll-snap {
//     scroll-snap-align: start;
//     scroll-margin: 16px;
//     // scroll-snap-stop: always;
//   }
// }

// TODO: review this file from time to time
.page-hero.tringle-bg::before {
  clip-path: polygon(100vw 20vw, 100vw 100vw, -35vw 100vw) !important;
}

@media (max-width: 991px) {
  .page-hero.tringle-bg::before {
    display: none !important;
    clip-path: polygon(0 100%, 100% 50%, 100% 100%) !important;
  }
}

/* a[target="_blank"]::after {
        content: "🔗";
        margin-left: 0.5rem;
        filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
    }
    */

.services-boxed .service-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.services-boxed .service-content {
  flex-grow: 1;
}

.page-hero .hero-text-area .hero-title {
  font-size: 64px;
  font-weight: 500 !important;
}

.hero-swiper-slider .slide-title,
.page-hero .hero-text-area .hero-title-solutions {
  font-size: 28px !important;
  font-weight: normal !important;

  @include media-breakpoint-up(lg) {
    font-size: 40px !important;
  }
}

.page-hero .hero-text-area .hero-title .featured-text svg {
  display: none;
}

.pricing .plan .plan-list .plan-feat {
  padding: 0.25rem 0 !important;
}

.featured-no-stripe::before {
  display: none !important;
}

.price-plan {
  @include media-breakpoint-up(lg) {
    max-width: 33%;
  }
}

.linear-gradient {
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    content: "";
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
  }
}

// roadmap
.roadmapAndChanges__listBttmText {
  display: table-row;
  // background-color: lightblue;
}

.roadmapAndChanges__itemBttmText,
.roadmapAndChanges__itemBttmText1 {
  display: table-cell;
  font-size: 14px;
  padding: 6px;
  line-height: 1.3;
  border: 1px solid rgb(167, 167, 167);
  vertical-align: middle;
}

.roadmapAndChanges__nrTable {
  // font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
  // font-size: 20px;
  // color: #238de9;
}

.roadmapAndChanges__spanSubtitle {
  padding-top: 30px;
  padding-bottom: 20px;
}

.MsoNormal {
  margin-top: 50px;
}

.roadmapAndChanges__spanTitle {
  padding-bottom: 25px;
  padding-top: 50px;
}

.roadmapAndChanges__linktoListChanges {
  padding-top: 30px;
}

#page-roadmap a {
  text-transform: capitalize;
  color: var(--clr-main);
  // font-weight: 700;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease-in-out 0s;
}

.service-box-integrations {
  background-color: white;
  color: $itportal-primary-dark;

  .service-icon {
    text-align: center;

    img {
      border-radius: 0.5rem;
    }
  }

  .service-title {
    font-weight: 400;
    display: none;
  }

  &::before {
    background-color: white !important;
  }

  &:hover {
    .service-title {
      color: $itportal-primary-dark !important;
    }

    .read-more {
      color: $itportal-main !important;
    }
  }
}

#videosTab {
  .info-number {
    @include media-breakpoint-down(sm) {
      font-size: 24px !important;
    }
  }
  
  h5,
  p {
    @include media-breakpoint-down(sm) {
      font-size: 16px !important;
    }
  }
}