body,
button,
.btn,
input,
select,
ul,
ol,
.page-hero .cta-links-area .cta-link {
  font-size: 20px !important;
}

.footer-menu-link,
.contact-info-card .info,
.terms-links {
  font-size: 18px !important;
}

.copyrights .creadits {
  font-size: 18px !important;
}

.copyrights .creadits {
  font-weight: normal !important;
}

// h2,
// h3,
// h4,
// h5,
// h6 {
//   color: $primary;
// }

// p + h2,
// p + h3,
// p + h4,
// p + h5,
// p + h6,
// ul + h2,
// ul + h3,
// ul + h4,
// ul + h5,
// ul + h6 {
//   margin-top: 32px;
// }

// b,
// strong {
//   font-weight: $font-weight-semibold;
// }
