{
  "extends": [
    "stylelint-config-twbs-bootstrap"
  ],
  "reportInvalidScopeDisables": true,
  "reportNeedlessDisables": true,
  "ignoreFiles": [
    "src/sass/_fonts.scss",
    "src/sass/_theme-utilities.scss",
    "src/sass/_theme-variables.scss"
  ],
  "overrides": [
    {
      "files": "**/*.scss",
      "rules": {
        "scss/selector-no-union-class-name": true
      }
    }
  ]
}