<section class="services services-boxed mega-section" id="all-features">
    <div class="container">

        {# {% set animationName = "integrations" %}
        {% set compositionId = "compositionIntegrations" %}
        {% set sceneName = "sceneIntegrations" %}
        {% set wrapperClass = "canvas-integrations" %}
        {% set width = 363 %}
        {% set height = 270 %}
        {% set position = "static" %}
        {% include "animations/animation-template.njk" %} #}

        <div class="row gx-4 gy-4 services-row ">
            {% for item in collections.featuresCollection %}
                {% if item.data.category == "all-features" %}
                    <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                        <div class="box service-box  wow fadeInUp reveal-start position-relative" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon">
                                <i class="{{ item.data.icon | default("flaticon-web-development") }} font-icon"></i>
                            </div>
                            {# <span class="service-num hollow-text">1    </span> #}
                            <div class="service-content">
                                <h3 class="service-title">{{ item.data.title }}</h3>
                                <p class="service-text">{{ item.data.excerpt }}</p>
                            </div>
                            <a class="read-more stretched-link" href="{{ item.data.permalink }}">read more<i class="bi bi-arrow-right icon "></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>