<!-- Start  toast Section-->
<div id="demoToast" data-bs-autohide="false" class="toast top-0 start-0 end-0 w-100 position-absolute show" role="alert" aria-live="assertive" aria-atomic="true" style="margin-top: 100px !important;">
    <div class="container position-relative">
        <div class="position-absolute end-0 m-2 rounded" style="background-color: rgba(255, 255, 255, 0.25);">
            <div class="d-flex">
                <div class="toast-body">
                    <h4>See the IT Portal in action</h4>
                    <div class="d-grid gap-2">
                        <a href="/demo" class="btn btn-light">Self-Guided Demo</a>
                        <a href="/demo" class="btn btn-light">Demo with IT Portal Expert</a>
                        {# <a href="#contact-form" class="btn btn-light" data-bs-dismiss="toast">Schedule a Call with Customer Experience</a> #}
                        <a href="/contact" class="btn btn-light">Schedule a Call with Customer Experience</a>
                    </div>
                </div>
                <button type="button" class="btn-close btn-close-white m-2 position-absolute top-0 end-0" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<!-- End  toast Section-->