{# <h2 class="service-title">Frequently Asked Questions</h2> #}
<h3 class="my-4">Billing / Support</h3>
<div class="faq">
    <!--Start Accordion List For FAQ-->
    <div class="faq-accordion " id="accordion">
        <div class="card mb-2">
            <div class="card-header " id="heading-1">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">What are my payment options - credit card or invoicing?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">The form above will only allow for credit card authorization. Though this is the case, if you decide to commit, we can accept a purchase order and then later accept payment by check or swift/wire. We ask that you fill out the form and submit a credit card, then remove it soon after by contacting support or going to your new Portal > options > admin settings > site settings > billing. Billing is processed only after a review of your new account.</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-2">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Do we have to signup for a full year or can we pay monthly?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">You can signup for either monthly or yearly subscriptions. Most organizations start monthly and change over to yearly.</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-3">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">Is there a free trial available?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">Unfortunately, we do not offer trials. We like to give the analogy of asking your fiancé if you can have a trial marriage. It probably would not go well as the commitment is not there. We do a bit of work to get an instance going for you and work with you to make sure things go well. We also hope to see you put your part by going through the training and making it valuable for you and your team.</p>
                    <p class="faq-answer"><strong>We offer a 30-day money-back guarantee</strong> instead of a trial. Would you please click on <a href="{{ baseUrl }}/pricing" class="read-more">Pricing</a>? Once you register, an onboarding specialist will reach out to you and go over the install and product with you. If you start with five or more users, we would also provide an onboard training session. During the first 30 days, we ask that you work with our support personnel to answer any questions. Let us know what we can do to help you get started.</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-4">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">Is the support you provide available during working hours in the UK?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-4" aria-labelledby="collapse-4" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">Our support desk is available from 4:00 AM EST to 5:30 PM EST. We have 24-hour monitoring of our services, with technicians available to restart a server if needed. If you have an emergency, please call our phone number available above in the contact area.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="my-4">Features & Security</h3>
<div class="faq">
    <!--Start Accordion List For FAQ-->
    <div class="faq-accordion " id="accordion">
        <div class="card mb-2">
            <div class="card-header " id="heading-1">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">What branding options are available?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-5" aria-labelledby="collapse-5" data-bs-parent="#accordion">
                <div class="card-body">
                    <h6>Basic Branding</h6>
                    <p class="faq-answer"> Branding in the Portal has always allowed you to use your domain name to access the Portal. After setting up the branding, your logo replaces the Portal logo. Your branding settings also customize the login page. In the Cloud, a company called CHN can use portal.acme.com. By default, this URL will redirect to our secure site (Example https://portal.itportal.com) with your branding settings.</p>
                    <h6>Advanced Branding </h6>
                    <p class="faq-answer"> We understand that you do not want to see portal.itportal.com in the URL. Because of the complexity of the request, it will require many changes to our backend, and support will be more difficult for us to maintain. We want to try to make this work for you. To make this happen, you require a CloudFlare plan that starts at $20/Month. CloudFlare is needed as we do not allow access to our web servers directly on the Internet. Our web servers only respond to secure requests from CloudFlare.</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-2">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6">Can my customer log in to see their Portal data?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-6" aria-labelledby="collapse-6" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">Yes, you can allow your customers to log in. Set up a login for your customer with read-only access. They will only require a user license if the user is assigned add, edit, or delete permissions.</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-3">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="true" aria-controls="collapse-7">What security measures safeguard our sensitive information?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-7" aria-labelledby="collapse-7" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer"> You may prefer to do on-premise and safeguard it yourself. For those needing Cloud services, we offer the options below.</p>
                    <ul>
                        <li>AES 256 Bit Encryption.</li>
                        <li>Optional Encryption key. Encrypt usernames and passwords with this key. Uploaded files will be encrypted as well using this same key. The default key will encrypt data if you do not have an optional key.</li>
                        <li>Built-in 2 Factor Authentication</li>
                        <li>Encryption at rest</li>
                        <li>Our web servers are not open to the Internet. Our web servers are only accessible by the CloudFlare CDN (Content Delivery Network). You transparently connect to CloudFlare, and they present you with your data. Also, note that CloudFlare handles 10% of the world's web traffic and is very secure.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="my-4">Import / Export</h3>
<div class="faq">
    <!--Start Accordion List For FAQ-->
    <div class="faq-accordion " id="accordion">
        <div class="card mb-2">
            <div class="card-header " id="heading-1">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="true" aria-controls="collapse-8">Is it possible to import customer information from other sources</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-8" aria-labelledby="collapse-8" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer"> You can import from: </p>
                    <ul>
                        <li>Confluence, IT Glue, and IT Boost.</li>
                        <li><a class="read-more" href="{{ baseUrl }}/integrations">PSA</a> like ConnectWise, AutoTask, and SyncroMSP</li>
                        <li>Import data from your <a class="read-more" href="{{ baseUrl }}/integrations"><strong>RMM</strong></a></li>
                        <li>Data integrations like <a class="read-more" href="{{ baseUrl }}/integrations"><strong>Microsoft 365</strong></a></li>
                        <li>Via our <a class="read-more" href="{{ baseUrl }}/features"><strong>Windows WMI</strong></a> device import script</li>
                        <li>Via our <a class="read-more" href="{{ baseUrl }}/features"><strong>Mac/Linux</strong></a> import script</li>
                        <li>Via our configuration import for <a class="read-more" href="{{ baseUrl }}/features"><strong>Network devices</strong></a></li>
                        <li>VMware Vsphere</li>
                        <li>Excel import file</li>
                        <li>Via our Open API</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-2">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="true" aria-controls="collapse-9">Is it possible to export customer information?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-9" aria-labelledby="collapse-9" data-bs-parent="#accordion">
                <div class="card-body">
                    <ol>
                        <li>You can export object lists using the save (CSV) option in our data grids.</li>
                        <li>You can export using our reporting engines</li>
                        <li>You can export using our Portal Export tool, which copies your entire Portal. Place the export on an encrypted thumb drive and walk away. For security reasons, the tool is only made available to the primary contact upon request. </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-3">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-10" aria-expanded="true" aria-controls="collapse-10">If we decided to discontinue the service at any point, how long could we still access our account for visibility of our information?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-10" aria-labelledby="collapse-10" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">If the Portal runs on your Cloud then you keep the data. The solution goes into read-only mode at this point. For Cloud Partners, we typically will not remove the data until you request its destruction or one year after service is terminated. We will reach out to you if and when we need to do a clean-up.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="my-4">System Requirements</h3>
<div class="faq">
    <!--Start Accordion List For FAQ-->
    <div class="faq-accordion " id="accordion">
        <div class="card mb-2">
            <div class="card-header " id="heading-1">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-11" aria-expanded="true" aria-controls="collapse-11">What are the system, hardware, and software requirements for the Portal?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-11" aria-labelledby="collapse-11" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">The on-premise install will run on any Microsoft OS with IIS. We recommend Windows 2016 or higher. The minimum portal memory requirements are 4GBs for IIS and an additional 4GBs if you plan on installing SQL on the same box. A single CPU per service (SQL/IIS) is sufficient as long as there is no CPU contention in your virtual environment. We will ask you to ensure CPU affinity or a maximum 3:1 virtual CPU to core ratio if a performance issue arises.</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-2">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-12" aria-expanded="true" aria-controls="collapse-12">Is SQL Express supported for on-premise?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-12" aria-labelledby="collapse-12" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">Yes. We support SQL express for on-premise installations. Configure the IT Portal to store files in the database or on a file system. Hence the SQL Express 10GB limit should not be a problem.</p>
                </div>
            </div>
        </div>
    </div>
</div>