<h2 class="service-title">Frequently Asked Questions</h2>
<h3 class="my-4">Billing / Support</h3>
<div class="faq">
    <!--Start Accordion List For FAQ-->
    <div class="faq-accordion " id="accordion">
        <div class="card mb-2">
            <div class="card-header " id="heading-1">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">What are my payment options - credit card or invoicing?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-2">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Do we have to signup for a full year or can we pay monthly?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-3">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">Is there a free trial available?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life.</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-4">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">Is the support you provide available during working hours in the UK?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-4" aria-labelledby="collapse-4" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="my-4">Features & Security</h3>
<div class="faq">
    <!--Start Accordion List For FAQ-->
    <div class="faq-accordion " id="accordion">
        <div class="card mb-2">
            <div class="card-header " id="heading-1">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">What branding options are available?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-2">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Can my customer log in to see their Portal data?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-3">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">What security measures safeguard our sensitive information?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="my-4">Import / Export</h3>
<div class="faq">
    <!--Start Accordion List For FAQ-->
    <div class="faq-accordion " id="accordion">
        <div class="card mb-2">
            <div class="card-header " id="heading-1">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">Is it possible to import customer information from other sources</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-2">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Is it possible to export customer information?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-3">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">If we decided to discontinue the service at any point, how long could we still access our account for visibility of our information?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="my-4">System Requirements</h3>
<div class="faq">
    <!--Start Accordion List For FAQ-->
    <div class="faq-accordion " id="accordion">
        <div class="card mb-2">
            <div class="card-header " id="heading-1">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">What are the system, hardware, and software requirements for the Portal?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header " id="heading-2">
                <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Is SQL Express supported for on-premise?</button>
                </h5>
            </div>
            <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                <div class="card-body">
                    <p class="faq-answer">mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                </div>
            </div>
        </div>
    </div>
</div>