<!-- Start  services Section-->
<section class="services services-boxed mega-section  " id="services">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Features</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">
                    <span class='hollow-text'>Features</span> we offer</h2>
                <p class="subtitle   wow fadeInUp " data-wow-delay=".6s">Lorem ipsum dolor sit amet consectetur adipisicing elit Omnis <br>id atque  dignissimos repellat quae ullam.</p>
            </div>
            <div class=" cta-area   wow fadeInUp" data-wow-delay=".8s">
                <a class="cta-btn btn-solid    ">see all features <i class="bi bi-arrow-right icon "></i>
                </a>
            </div>
        </div>
        <div class="row gx-4 gy-4 services-row ">
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start First service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".1s">
                    <div class="service-icon">
                        <i class="flaticon-web-development font-icon"></i>
                    </div>
                    <span class="service-num hollow-text">1    </span>
                    <div class="service-content">
                        <h3 class="service-title">Password Plugin</h3>
                        <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                    </div>
                    <a class="read-more" href="service-single.html">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End First service box   -->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start Second service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".2s">
                    <div class="service-icon">
                        <i class="flaticon-nanotechnology font-icon"></i>
                    </div>
                    <span class="service-num hollow-text">2    </span>
                    <div class="service-content">
                        <h3 class="service-title">Scoreboard</h3>
                        <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                    </div>
                    <a class="read-more" href="service-single.html">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End Second service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start Third service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".3s">
                    <div class="service-icon">
                        <i class="flaticon-web-domain font-icon"></i>
                    </div>
                    <span class="service-num hollow-text">3    </span>
                    <div class="service-content">
                        <h3 class="service-title">Editors</h3>
                        <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                    </div>
                    <a class="read-more" href="service-single.html">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End Third service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start fourth service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".4s">
                    <div class="service-icon">
                        <i class="flaticon-profile font-icon"></i>
                    </div>
                    <span class="service-num hollow-text">4    </span>
                    <div class="service-content">
                        <h3 class="service-title">Mobile</h3>
                        <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                    </div>
                    <a class="read-more" href="service-single.html">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End fourth service box   -->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 5th service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".5s">
                    <div class="service-icon">
                        <i class="flaticon-search font-icon"></i>
                    </div>
                    <span class="service-num hollow-text">5    </span>
                    <div class="service-content">
                        <h3 class="service-title">Network Import</h3>
                        <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                    </div>
                    <a class="read-more" href="service-single.html">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End 5th service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 6th service box-->
                <div class="box service-box  wow fadeInUp  reveal-start" data-wow-offset="0" data-wow-delay=".6s">
                    <div class="service-icon">
                        <i class="flaticon-strategy font-icon"></i>
                    </div>
                    <span class="service-num hollow-text">6    </span>
                    <div class="service-content">
                        <h3 class="service-title">Device Import</h3>
                        <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                    </div>
                    <a class="read-more" href="service-single.html">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End 6th service box-->
            </div>
        </div>
    </div>
</section>
<!-- End  services Section-->