<!-- Start inner Page hero-->
<div class="service-single ">
    <div class="container">
        <div class="row">
            <!--Start service content-->
            <div class="col-12 col-xl-8  ">
                <div class="service-content-area">
                    {# <div class="featured-img-area part"><img class="feat-img img-fluid" src="{{ baseUrl }}/assets/images/services/service-single-featured-img.jpg" alt="featured image"></div> #}
                    <div class="service-content">
                        <div class="part">
                            <h1 class="hero-title mb-0">{{ title }}</h1>

                            {% set animationName = "password-management" %}
                            {% set compositionId = "compositionPasswordManagement" %}
                            {% set sceneName = "scenePasswordManagement" %}
                            {% set wrapperClass = "canvas-password-management" %}
                            {# {% set width = 363 %} #}
                            {# {% set height = 270 %} #}
                            {% set position = "static" %}
                            {% include "animations/animation-template.njk" %}

                            <h2>Revolutionize password management with our innovative browser plugin.</h2>
                            <p class="service-text">Tired of password searches and security concerns? Effortlessly access your IT Portal passwords and 2FA codes directly from your browser without compromising security.</p>
                            <h2>How the Browser Password Plugin works:</h2>
                            <ul>
                                <li>Seamlessly integrates with your favorite browser</li>
                                <li>Instantly searches your IT Portal for the required credentials</li>
                                <li>Auto-fills login information for a swift and secure experience</li>
                                <li>Enhances productivity by eliminating manual password entry</li>
                            </ul>
                            <p class="service-text">Try it now - Download for <a href="https://chrome.google.com/webstore/detail/it-portal-password-lookup/dijocadohljfnagfjhpglffpmcodjpgn" target="_blank" class="read-more">Chrome</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/it-portal-password-lookup/" target="_blank" class="read-more">Firefox here</a>.</p>
                            <img class="img-fluid mb-4" loading="lazy" src="{{ baseUrl }}/assets/migrated/chrome.png" alt="TODO"/>
                        </div>
                        {# <div class="part">
                            <div class="two-cols-img ">
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="img-col"><img class="img-fluid" src="{{ baseUrl }}/assets/images/services/service-single-img-col-1.jpg" loading="lazy" alt="service single image "></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="img-col"><img class="img-fluid" src="{{ baseUrl }}/assets/images/services/service-single-img-col-2.jpg" loading="lazy" alt="service single image "></div>
                                    </div>
                                </div>
                            </div>
                        </div> #}
                        {# <div class="part">
                            <h2 class="service-title">Information Security services we offer</h2>
                            <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet magni earum ad suscipit doloremque perferendis debitis perspiciatis iste reiciendis odio ducimus quis, dolor minima. Deserunt ea aliquam, ad expedita neque voluptas sequi saepe error nesciunt? Culpa dolore voluptatibus sed impedit blanditiis excepturi harum dolor. </p>
                            <p class="service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quidem debitis ad dolorum assumenda exercitationem fuga sequi, sit repellat fugit voluptate numquam animi in quos, voluptas culpa! Nobis dolorum ut tempora nam molestiae </p>
                        </div> #}
                        {# <div class="part">
                            <div class="info-items-list">
                                <div class="row">
                                    <div class="col-12 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">01.</span>
                                            <div class="info-content">
                                                <h5 class="info-title">latest technologies </h5>
                                                <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">02.</span>
                                            <div class="info-content">
                                                <h5 class="info-title">uniqe solutions </h5>
                                                <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">03.</span>
                                            <div class="info-content">
                                                <h5 class="info-title">powerful strategies </h5>
                                                <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 ">
                                        <div class="info-item">
                                            <span class="info-number ">04.</span>
                                            <div class="info-content">
                                                <h5 class="info-title">delever just on time </h5>
                                                <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> #}
                    </div>
                </div>
            </div>
            <!--Start service content-->
            <!-- Start service sidebar-->
            <div class="col-12 col-xl-4">
                {% include "components/sidebar-features.njk" %}
            </div>
            <!-- End service sidebar-->
        </div>
    </div>
</div>
<!-- End inner Page hero-->