<section class="page-hero  d-flex align-items-center  tringle-bg" id="page-hero">
    <div class="overlay-photo-image-bg" data-bg-img="{{ baseUrl }}/assets/sections-bg-images/pattern-bg-1.webp" data-bg-opacity=".2"></div>
    
    <div class="container position-relative">
        {# NOTE: video canvas stuff #}
        {% set animationName = "splash-landing" %}
        {% set compositionId = "compositionSplashLanding" %}
        {% set sceneName = "sceneSplashLanding" %}
        {% include "animations/animation-template-dynamic.njk" %}
        <script src="https://code.createjs.com/1.0.0/createjs.min.js" defer></script>
        <script src="{{ baseUrl }}/js/animations/splash-landing.js" defer></script>
        <script src="{{ baseUrl }}/js/animations/splash-msp.js" defer></script>
        <script src="{{ baseUrl }}/js/animations/splash-education.js" defer></script>
        <script src="{{ baseUrl }}/js/animations/splash-government.js" defer></script>
        <script>
            var canvas,
                stage,
                exportRoot,
                anim_container,
                dom_overlay_container,
                fnStartAnimation;

            function initAnimation(compositionId, sceneName) {
                canvas = document.getElementById("canvas");
                anim_container = document.getElementById("animation_container");
                dom_overlay_container = document.getElementById("dom_overlay_container");
                var comp = AdobeAn.getComposition(compositionId);
                var lib = comp.getLibrary();
                handleComplete({}, comp, sceneName);
            }

            function handleComplete(evt, comp, sceneName) {
                var lib = comp.getLibrary();
                var ss = comp.getSpriteSheet();
                exportRoot = new lib[sceneName]();
                stage = new lib.Stage(canvas);

                fnStartAnimation = function () {
                    stage.addChild(exportRoot);
                    createjs.Ticker.framerate = lib.properties.fps;
                    createjs
                        .Ticker
                        .addEventListener("tick", stage);
                }

                AdobeAn.makeResponsive(true, 'both', true, 1, [canvas, anim_container, dom_overlay_container]);
                AdobeAn.compositionLoaded(lib.properties.id);
                fnStartAnimation();
            }

            document.addEventListener('DOMContentLoaded', function () {
                initAnimation('{{ compositionId }}', '{{ sceneName }}');

                const companySizeDropdown = document.getElementById('numberOfUsers');
                const industryDropdown = document.getElementById('industry');
                const solutionsLink = document.getElementById('solutions-link');

                function updateHeroImage() {
                    const companySize = companySizeDropdown.value;
                    const industry = industryDropdown.value;

                    let animationName = 'splash-landing'; // default animation
                    let compositionId = 'compositionSplashLanding';
                    let sceneName = 'sceneSplashLanding';
                    let findMySolutionHref = '/it'; // default link

                    if (companySize === '5') {
                        // Handle this case if needed
                        // animationName = 'splash-government';
                        // compositionId = 'compositionSplashGovernment';
                        // sceneName = 'sceneSplashGovernment';
                    } else if (companySize === '2') {
                        // Handle this case if needed
                    } else if (companySize === '1') {
                        // Handle this case if needed
                    } else if (industry === 'msp') {
                        animationName = 'splash-msp';
                        compositionId = 'compositionSplashMSP';
                        sceneName = 'sceneSplashMSP';
                        findMySolutionHref = '/solutions/msp';
                    } else if (industry === 'it') {
                        animationName = 'splash-landing';
                        compositionId = 'compositionSplashLanding';
                        sceneName = 'sceneSplashLanding';
                        findMySolutionHref = '/solutions/it';
                    } else if (industry === 'government') {
                        animationName = 'splash-government';
                        compositionId = 'compositionSplashGovernment';
                        sceneName = 'sceneSplashGovernment';
                        findMySolutionHref = '/solutions/government';
                    } else if (industry === 'education') {
                        animationName = 'splash-government';
                        compositionId = 'compositionSplashEducation';
                        sceneName = 'sceneSplashEducation';
                        findMySolutionHref = '/solutions/education';
                    }

                    // Update animation by reinitializing
                    initAnimation(compositionId, sceneName);
                    // Update link
                    solutionsLink.href = findMySolutionHref;
                }

                companySizeDropdown.addEventListener('change', updateHeroImage);
                industryDropdown.addEventListener('change', updateHeroImage);
            });
        </script>
        {# NOTE: video canvas stuff end #}

        <div class="row position-lg-absolute top-0">
            <div class="col-12 col-lg-6 ">
                <div class="hero-text-area   ">
                    <h1 class="hero-title hero-title-solutions">Empowering IT Teams with an <span class="featured-text">innovative gateway {% include "components/svg-wave.njk" %}
                        </span>
                        <span class="design-element rounded-shape stripes"></span> for secure documentation</h1>
                </div>
            </div>

            <div class="col-12 col-lg-4 offset-lg-2">
            </div>
        </div>

        <div class="row itp-row-hero-cta position-lg-absolute start-0 end-0 bottom-0">
            <div class="col-12 col-lg-4 offset-lg-8">
                <p class="hero-subtitle ">Just like CRM empowers Sales IT Portal empowers IT!</p>
                <form class="g-3 mb-4">
                    <div class="col-12 mb-3">
                        <label class="" for="companySize">I work in a</label>
                        {# <label class="" for="numberOfUsers">How many users? More users, Pay less!</label> #}
                        <select class="form-select" aria-label="Number of users" id="numberOfUsers">
                            <option value="" selected="">Select Comapny Size</option>
                            <option value="1">1</option>
                            <option value="2">2-3</option>
                            <option value="4">4</option>
                            <option value="5">5-9</option>
                            <option value="10" selected>10-24</option>
                            <option value="25">25+</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="industry">company in</label>
                        <select class="form-select" id="industry">
                            <option value="" selected="">Select Industry</option>
                            <option value="msp">MSP</option>
                            <option value="it">IT</option>
                            <option value="education">Education</option>
                            <option value="government">Government</option>
                        </select>
                    </div>
                </form>

                <div class="cta-links-area ">
                    <a href="#" id="solutions-link">
                        <span class="btn-outline cta-link cta-link-primary">Find My Solution</span>
                        <div class="play-btn-row-dir ">
                            <span class="video-link">
                                <div class="play-video-btn">
                                    <div class="play-btn">
                                        <i class="fas fa-play icon"></i>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </a>
                </div>
                <p class="mt-4">I prefer to <a href="#" class="read-more header-search-btn">search on my own</a>.</p>
            </div>
        </div>
    </div>
</section>