<!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero" style="height: 75vh; min-height: 75vh; padding-bottom: 0;">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/assets/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Security</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="/">
                            <i class="bi bi-house icon "></i>home</a>
                    </li>
                    <li class="breadcrumb-item active">security</li>
                </ul>
            </nav>

            {# TODO: temporary fix #}
            <div class="margin-bottom: -200px;">
                {% set animationName = "security" %}
                {% set compositionId = "compositionSecurity" %}
                {% set sceneName = "sceneSecurity" %}
                {% set wrapperClass = "canvas-security" %}
                {% set width = 363 %}
                {% set height = 270 %}
                {% set position = "static" %}
                {% include "animations/animation-template.njk" %}
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->