<!-- Start  Page hero-->
<section class="page-hero  d-flex flex-column align-items-center  tringle-bg" id="page-hero">
    <div class="overlay-photo-image-bg" data-bg-img="/assets/sections-bg-images/pattern-bg-1.webp" data-bg-opacity=".2"></div>
    <div class="linear-gradient"></div>

    <div class="container position-relative">
        {% set animationName = "splash-government" %}
        {% set compositionId = "compositionSplashGovernment" %}
        {% set sceneName = "sceneSplashGovernment" %}
        {% include "animations/animation-template.njk" %}
    
        <div class="row position-lg-absolute top-0">
            <div class="col-12 col-lg-6 ">
                <div class="hero-text-area   ">
                    <div class="row">
                        <div class="col-12       ">
                            <h1 class="hero-title hero-title-solutions">Streamline operations and enhance security with a <span class="featured-text">centralized IT asset management {% include "components/svg-wave.njk" %}</span> platform. </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row itp-row-hero-cta position-lg-absolute start-0 end-0 bottom-0">
            <div class="col-12 col-lg-4 offset-lg-8 itp-hero-government text-lg-end">
                <p class="mb-4">The IT Portal offers government agencies a robust solution for managing IT assets, ensuring compliance, and safeguarding sensitive information.</p>
                <div class="cta-links-area ">
                    <a class=" btn-outline cta-link cta-link-primary " href="#discover">Discover Government</a>
                    <div class="play-btn-row-dir ">
                        <a class="video-link" href="#" role="button" title="play">
                            <div class="play-video-btn">
                                <div class="play-btn">
                                    <i class="fas fa-play icon"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End  Page hero-->