<!-- Start  Page hero-->
<section class="page-hero  d-flex align-items-center  tringle-bg" id="page-hero">
    <div class="overlay-photo-image-bg" data-bg-img="/assets/sections-bg-images/pattern-bg-1.jpg" data-bg-opacity=".2"></div>
    <!-- <div class="particles-js  dots" id="particles-js"></div> -->
    <div class="container position-relative">

        {% set animationName = "splash-education" %}
        {% set compositionId = "compositionSplashEducation" %}
        {% set sceneName = "sceneSplashEducation" %}
        {% include "animations/animation-template.njk" %}

        <div class="row">

            <div class="col-12 col-lg-6 ">
                <!--Start of .hero-text-area-->
                <div class="hero-text-area   ">
                    <div class="row">
                        {# <div class="col-12   ">
                            <div class="hero-social-icons mb-3 ">
                                <div class="sc-wrapper dir-row sc-flat">
                                    <ul class="sc-list">
                                        <li class="sc-item " title="Facebook">
                                            <a class="sc-link" href="#0" title="social media icon">
                                                <i class="fab fa-facebook-f sc-icon"></i>
                                            </a>
                                        </li>
                                        <li class="sc-item " title="youtube">
                                            <a class="sc-link" href="#0" title="social media icon">
                                                <i class="fab fa-youtube sc-icon"></i>
                                            </a>
                                        </li>
                                        <li class="sc-item " title="instagram">
                                            <a class="sc-link" href="#0" title="social media icon">
                                                <i class="fab fa-instagram sc-icon"></i>
                                            </a>
                                        </li>
                                        <li class="sc-item " title="twitter">
                                            <a class="sc-link" href="#0" title="social media icon">
                                                <i class="fab fa-twitter sc-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> #}
                        <div class="col-12       ">
                            {# <div class="pre-title ">Education</div> #}
                            <h1 class="hero-title  "><span class="featured-text">Optimize educational resources and enhance student outcomes with centralized IT asset management. {% include "components/svg-wave.njk" %}
                                </span> The IT Portal provides educational institutions with a comprehensive platform for managing technology infrastructure, improving efficiency, and ensuring student success.</h1>
                        </div>

                    </div>
                </div>
                <!--End of .hero-text-area-->
            </div>

            <div class="col-12 col-lg-4 offset-lg-2" style="margin-top: 555px; margin-bottom: 55px;">
                <div class="cta-links-area ">
                    <a class=" btn-outline cta-link cta-link-primary " href="#discover">Discover Education</a>
                    <div class="play-btn-row-dir ">
                        <a class="video-link" href="#" role="button" title="play" data-fancybox="data-fancybox">
                            <div class="play-video-btn">
                                <div class="play-btn">
                                    <i class="fas fa-play icon"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End  Page hero-->