<section class="d-flex align-items-center page-hero inner-page-hero" id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="{{ baseUrl }}/assets/hero/inner-page-hero.webp" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container position-relative">
        <div class="hero-text-area centerd">
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center text-start">
                    <div class="pre-title d-inline-block wow fadeInUp" data-wow-delay=".1s">IT Portal</div>
                    <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Integrations</h1>
                    <p class="mb-0  wow fadeInUp" data-wow-delay=".3s">You have data in a variety of sources. It’s easy to bring them into the Portal and add your documentation.</p>
                </div>
                <div class="col-lg-8">
                    {% set animationName = "integrations" %}
                    {% set compositionId = "compositionIntegrations" %}
                    {% set sceneName = "sceneIntegrations" %}
                    {% set wrapperClass = "canvas-integrations" %}
                    {% set width = 363 %}
                    {% set height = 270 %}
                    {% set position = "static" %}
                    {% include "animations/animation-template.njk" %}
                </div>
            </div>
        </div>
    </div>
</section>