<section id="live-demo" class="contact-us-form-section">
    <div class="container">
        {# <div class="sec-heading centered    ">
            <div class="content-area">
                <h2 class="title">IT Portal Live Demo</h2>
            </div>
        </div> #}
        <h2 class="mb-5">IT Portal Live Demo</h2>
        
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="contact-form-panel">
                    <div class="contact-form-inputs">
                        <div class="custom-form-area input-boxed">
                            <!--Form To have user messages-->
                            <form class="main-form" id="contact-us-form" action="php/send-mail.php" method="post">
                                <span class="done-msg"></span>
                                <div class="row ">
                                    <div class="col-12">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-name" name="UserName" type="text"/>
                                            <label class="input-label" for="user-name"> Name <span class="req">*</span></label>
                                            <span class="b-border"></span>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-email" name="UserEmail" type="email"/>
                                            <label class="input-label" for="user-email"> E-mail <span class="req">*</span></label>
                                            <span class="b-border"></span>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="msg-company" name="company" type="text"/>
                                            <label class="input-label" for="msg-company"> Company <span class="req">*</span></label>
                                            <span class="b-border"></span>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="msg-company" name="company" type="text"/>
                                            <label class="input-label" for="msg-company"> Phone Number <span class="req">*</span></label>
                                            <span class="b-border"></span>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <select class="form-select" name="PotentialUserCount" title="Potential IT Portal Users" required="">
                                                <option class="hidden" value="" disabled="" selected="">Potential IT Portal Users</option>
                                                <option class="form-select-option" value="1-4 People" data-at="form-select-option">1-4 People</option>
                                                <option class="form-select-option" value="5+ People" data-at="form-select-option">5-9 People</option>
                                                <option class="form-select-option" value="10+ People" data-at="form-select-option">10+ People</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Agree to receive emails with more info
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 submit-wrapper">
                                        <button class=" btn-solid" id="submit-btn" type="submit" name="UserSubmit">Request Access</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="alert alert-primary d-flex mt-4" role="alert">
                    <i class="fas fa-info-circle me-4 flex-shrink-0 text-white fs-2"></i>
                    <div>
                        <p>Fill the form to get instant access to a demo modeled after a discovery done by an MSP on-board.</p>
                        <p>All aspects of the network were documented by the on-boarding team to ensure the Helpdesk will have all they need to support the new customer.</p>
                        <p>You can make any changes that you like as the demo will reset nightly. Just be courteous to others and not do anything that may break access for the day.</p>
                        <p class="mb-0">Happy demoing… IT Portal Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>