<section id="live-demo" class="contact-us-form-section  mega-section">
    <div class="container">
        <div class="sec-heading centered    ">
            <div class="content-area">
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">IT Portal Live Demo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="contact-form-panel">
                    <div class="contact-form-inputs wow fadeInUp" data-wow-delay=".6s">
                        <div class="custom-form-area input-boxed">
                            <!--Form To have user messages-->
                            <form class="main-form" id="contact-us-form" action="php/send-mail.php" method="post">
                                <span class="done-msg"></span>
                                <div class="row ">
                                    <div class="col-12">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-name" name="UserName" type="text"/>
                                            <label class="input-label" for="user-name"> Name <span class="req">*</span></label>
                                            <span class="b-border"></span>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="user-email" name="UserEmail" type="email"/>
                                            <label class="input-label" for="user-email"> E-mail <span class="req">*</span></label>
                                            <span class="b-border"></span>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="msg-company" name="company" type="text"/>
                                            <label class="input-label" for="msg-company"> Company <span class="req">*</span></label>
                                            <span class="b-border"></span>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <input class="text-input" id="msg-company" name="company" type="text"/>
                                            <label class="input-label" for="msg-company"> Phone Number <span class="req">*</span></label>
                                            <span class="b-border"></span>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="   input-wrapper">
                                            <select class="form-select" name="PotentialUserCount" title="Potential IT Portal Users" required="">
                                                <option class="hidden" value="" disabled="" selected="">Potential IT Portal Users</option>
                                                <option class="form-select-option" value="1-4 People" data-at="form-select-option">1-4 People</option>
                                                <option class="form-select-option" value="5+ People" data-at="form-select-option">5-9 People</option>
                                                <option class="form-select-option" value="10+ People" data-at="form-select-option">10+ People</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Agree to receive emails with more info
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 submit-wrapper">
                                        <button class=" btn-solid" id="submit-btn" type="submit" name="UserSubmit">Request Access</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                    <symbol id="info-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                </svg>

                <div class="alert alert-primary d-flex mt-4" role="alert">
                    <svg class="bi flex-shrink-0 me-4" role="img" aria-label="Info:" width="40" height="40"><use xlink:href="#info-fill"/></svg>
                    <div>
                        <p>Fill the form to get instant access to a demo modeled after a discovery done by an MSP on-board.</p>
                        <p>All aspects of the network were documented by the on-boarding team to ensure the Helpdesk will have all they need to support the new customer.</p>
                        <p>You can make any changes that you like as the demo will reset nightly. Just be courteous to others and not do anything that may break access for the day.</p>
                        <p class="mb-0">Happy demoing… IT Portal Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>