<div class="service-single position-relative">
    <div class="overlay-photo-image-bg" data-bg-img="/assets/sections-bg-images/pattern-bg-3.jpg" data-bg-opacity=".2" style="background-image: url("assets/sections-bg-images/pattern-bg-3.jpg"); opacity: 0.2;"></div>

    <div class="container">
        <div class="row">
            <!--Start service content-->
            <div class="col-12 col-xl-8  ">
                <div class="service-content-area mb-0">
                    {# <div class="featured-img-area part"><img class="feat-img img-fluid" src="/assets/images/services/service-single-featured-img.jpg" alt="featured image"></div> #}
                    <div class="service-content">
                        <h3 class="service-title">Want more? Explore all IT Portal features now!</h3>
                            {# <img class="img-fluid mb-4" loading="lazy" src="/assets/migrated/chrome.png" alt="TODO"/> #}
                            <p class="service-text mb-0"> The IT Portal is a cloud-based/on-prem platform that allows IT teams and managed service providers (MSPs) to store and manage technical information, documentation, and data related to their IT infrastructure. It provides secure access to company-specific documentation, including passwords, configurations, and IT knowledge bases (KBs). The platform also allows for the logical grouping of resources such as sites, facilities, cabinets, and IP networks. The IT Portal integrates with other IT tools, including PSA, RMMs, and data sets like Microsoft 365, and offers features such as password history, revision control, and access logs. The platform is trusted by IT departments around the world and has been used by over 10,000 IT professionals and company users since 2007. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 cta-area pt-4 pt-lg-0">
                <a href="/demo" class="cta-btn btn-solid wow fadeInUp" data-wow-delay=".8s">View live demo <i class="bi bi-arrow-right icon "></i>
                </a>
            </div>
        </div>
    </div>
</div>