<!-- Start  pricing Section-->
<section class="pricing mega-section  " id="pricing-1">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">pricing plans</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">
                    Sign Up</h2>
                <p class="subtitle   wow fadeInUp " data-wow-delay=".6s">Join 100's of MSPs across the globe already utilizing IT Portal to grow their business</p>

            </div>
            <div class=" cta-area   wow fadeInUp" data-wow-delay=".8s">
                {# <a class="cta-btn btn-solid    " href="pricing.html">see all plans<i class="bi bi-arrow-right icon "></i>
                </a> #}

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form class="d-flex gap-4 mb-4">
                    {# <div>
                        <label class="" for="cloud-vs-on-premises">Cloud vs. On Premises</label>
                        <select class="form-select" aria-label="Cloud/On Premises" id="cloud-vs-on-premises">
                            <option value="cloud">Cloud</option>
                            <option value="on-premises">On Premises</option>
                        </select>
                    </div> #}
                    <div>
                        <label class="" for="numberOfUsers">How many users? More users, Pay less!</label>
                        <select class="form-select" aria-label="Number of users" id="numberOfUsers">
                            <option value="1">1</option>
                            <option value="2">2-3</option>
                            <option value="4">4</option>
                            <option value="5">5+</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 text-end">
                <div class="form-check form-switch d-flex align-items-center justify-content-end mt-lg-4 pt-lg-2">
                    <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">Cloud</label>
                    <input class="form-check-input float-none mx-2 my-0" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                    <label class="form-check-label text-primary text-nowrap fw-bold" for="flexSwitchCheckChecked">On Premises</label>
                </div>
            </div>
        </div>
        <div class="row">
            <!--First Plan-->
            <div class="col-12  col-md-6 col-xl-3  mx-auto price-plan ">
                <div class="plan    wow fadeInUp  " data-wow-delay=".1s ">
                    <div class="plan-head">
                        <i class="flaticon-nft-1 plan-icon"></i>
                        <h4 class="plane-name">starter plan</h4>
                        <div class="plan-price">
                            <h3 class="price">45<sup class="currency-symbol">$</sup>
                            </h3>
                            <span class="per">user/month</span>
                        </div>
                    </div>
                    <div class="plan-details">
                        <ul class="plan-list">
                            {# <li class="plan-feat ">
                                <span class="feat-text">For the first user / month</span></li> #}
                            {# <li class="plan-feat ">
                                <span class="feat-text">Pricing is tiered, see pricing popup...</span></li> #}
                            <li class="plan-feat ">
                                <span class="feat-text">* 2GBs storage per defined user</span></li>
                            <li class="plan-feat ">
                                <a href="https://kb.itportal.com/?U=5lLEG1TN" class="read-more">Add-on Portal Rotate Pricing & Info</a>
                            </li>
                            <li class="plan-feat ">
                                <a href="https://kb.itportal.com/?U=Wim2Y7C2" class="read-more">Add-on My Portal Pricing & Info</a>
                            </li>
                        </ul>
                        <hr/>
                        <p class="text-center mb-4">
                            <a href="https://www.itportal.com/forms/Registration/?p=4&y=1&u=1&op=0&ServiceArea=US&Currency=US" class="text-muted">10% Yearly discounts at checkout</a>
                        </p>
                    </div>
                    <div class="plan-cta">
                        <a class="cta-btn btn-outline " href="https://www.itportal.com/forms/Registration/?p=4&y=0&u=1&op=0&ServiceArea=US&Currency=US">start now  </a>
                    </div>
                </div>
            </div>
            <!--Second-plan-->
            <div class="col-12  col-md-6 col-xl-3  mx-auto price-plan ">
                <div class="plan    wow fadeInUp  " data-wow-delay=".3s ">
                    <div class="plan-head">
                        <i class="flaticon-virtual-reality plan-icon"></i>
                        <h4 class="plane-name">standard plan</h4>
                        <div class="plan-price">
                            <h3 class="price">25<sup class="currency-symbol">$</sup>
                            </h3>
                            <span class="per">user/month</span>
                        </div>
                    </div>
                    <div class="plan-details">
                        <ul class="plan-list">
                            <li class="plan-feat ">
                                <span class="feat-text">* 2GBs storage per defined user</span></li>
                            <li class="plan-feat ">
                                <a href="https://kb.itportal.com/?U=5lLEG1TN" class="read-more">Add-on Portal Rotate Pricing & Info</a>
                            </li>
                            <li class="plan-feat ">
                                <a href="https://kb.itportal.com/?U=Wim2Y7C2" class="read-more">Add-on My Portal Pricing & Info</a>
                            </li>
                        </ul>
                        <hr/>
                        <p class="text-center mb-4">
                            <a href="https://www.itportal.com/forms/Registration/?p=4&y=1&u=2&op=0&ServiceArea=US&Currency=US" class="text-muted">10% Yearly discounts at checkout</a>
                        </p>
                    </div>
                    <div class="plan-cta">
                        <a class="cta-btn btn-outline " href="https://www.itportal.com/forms/Registration/?p=4&y=0&u=2&op=0&ServiceArea=US&Currency=US">start now  </a>
                    </div>
                </div>
            </div>
            <!--Third-plan-->
            <div class="col-12  col-md-6 col-xl-3  mx-auto price-plan ">
                <div class="plan   featured  wow fadeInUp  " data-wow-delay=".5s ">
                    <div class="plan-head">
                        <i class="flaticon-box plan-icon"></i>
                        <h4 class="plane-name">pro plan</h4>
                        <div class="plan-price">
                            <h3 class="price">20<sup class="currency-symbol">$</sup>
                            </h3>
                            <span class="per">user/month</span>
                        </div>
                    </div>
                    <div class="plan-details">
                        <ul class="plan-list">
                            <li class="plan-feat ">
                                <span class="feat-text">* 2GBs storage per defined user</span></li>
                            <li class="plan-feat ">
                                <a href="https://kb.itportal.com/?U=5lLEG1TN" class="read-more text-white">Add-on Portal Rotate Pricing & Info</a>
                            </li>
                            <li class="plan-feat ">
                                <a href="https://kb.itportal.com/?U=Wim2Y7C2" class="read-more text-white">Add-on My Portal Pricing & Info</a>
                            </li>
                        </ul>
                        <hr/>
                        <p class="text-center mb-4">
                            <a href="https://www.itportal.com/forms/Registration/?p=4&y=1&u=4&op=0&ServiceArea=US&Currency=US" class="text-muted">10% Yearly discounts at checkout</a>
                        </p>
                    </div>
                    <div class="plan-cta">
                        <a class="cta-btn btn-outline " href="https://www.itportal.com/forms/Registration/?p=4&y=0&u=4&op=0&ServiceArea=US&Currency=US">start now  </a>
                    </div>
                </div>
            </div>
            <!--fourth-plan-->
            {# NOTE: left out, the difference between the 3rd plan is "20% Yearly discounts at checkout"
            discount:   https://www.itportal.com/forms/Registration/?p=4&y=1&u=10&op=0&ServiceArea=US&Currency=US
            start noew: https://www.itportal.com/forms/Registration/?p=4&y=0&u=10&op=0&ServiceArea=US&Currency=US #}

            <!--fifth-plan-->
            <div class="col-12  col-md-6 col-xl-3  mx-auto price-plan ">
                <div class="plan    wow fadeInUp  " data-wow-delay=".6s ">
                    <div class="plan-head">
                        <i class="flaticon-basic-shapes plan-icon"></i>
                        <h4 class="plane-name">ultimate plan</h4>
                        <div class="plan-price">
                            <p class="mb-0">5-35 Users <span class="fs-6">
                                    <span class="text-primary">$</span>20</span>
                                <span class="per">/User/Month</span></p>
                            <p class="mb-0">36-50 Users <span class="fs-6">
                                    <span class="text-primary">$</span>700</span>
                                <span class="per">/Month</span></p>
                            <p class="mb-0">51-100 Users <span class="fs-6">
                                    <span class="text-primary">$</span>14</span>
                                <span class="per">/User/Month</span></p>
                            <p class="mb-0">100-125 Users <span class="fs-6">
                                    <span class="text-primary">$</span>1400</span>
                                <span class="per">/Month</span></p>
                            <p class="mb-0">125+ Users <span class="fs-6">
                                    <span class="text-primary">$</span>12</span>
                                <span class="per">/User/Month</span></p>
                        </div>
                    </div>
                    <div class="plan-details">
                        <ul class="plan-list">
                            <li class="plan-feat ">
                                <span class="feat-text">* 2GBs storage per defined user</span></li>
                            <li class="plan-feat ">
                                <a href="https://kb.itportal.com/?U=5lLEG1TN" class="read-more">Add-on Portal Rotate Pricing & Info</a>
                            </li>
                            <li class="plan-feat ">
                                <a href="https://kb.itportal.com/?U=Wim2Y7C2" class="read-more">Add-on My Portal Pricing & Info</a>
                            </li>
                        </ul>
                        <hr/>
                        <p class="text-center mb-4">
                            <a href="https://www.itportal.com/forms/Registration/?p=4&y=1&u=25&op=0&ServiceArea=US&Currency=US" class="text-muted">20% Yearly discounts at checkout</a>
                        </p>
                    </div>
                    <div class="plan-cta">
                        <a class="cta-btn btn-outline " href="https://www.itportal.com/forms/Registration/?p=4&y=0&u=25&op=0&ServiceArea=US&Currency=US">start now  </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center my-5">
            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">30 Day Money Back Guarantee</h2>
            <p class="subtitle   wow fadeInUp mb-4" data-wow-delay=".6s">If you feel IT Portal is not adding value to your business, we will give you a full refund</p>
            <img src="https://www.itportal.com/v4/images/guarantee-30.png" alt="30 day money back guarantee" class="wow fadeInUp" data-wow-delay=".8s">
        </div>

    </div>
</section>
<!-- End  pricing Section-->