<!-- Start  pricing Section-->
<section class="pricing mega-section  " id="pricing-1">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">pricing plans</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">
                    Sign Up</h2>
                <p class="subtitle   wow fadeInUp " data-wow-delay=".6s">Join 100's of MSPs across the globe already utilizing IT Portal to grow their business</p>
            </div>
            <div class=" cta-area   wow fadeInUp" data-wow-delay=".8s">
                {# <a class="cta-btn btn-solid    " href="pricing.html">see all plans<i class="bi bi-arrow-right icon "></i>
                </a> #}
                <form class="g-3">
                    <label class="" for="numberOfUsers">How many users? More users, Pay less!</label>
                    <select class="form-select" aria-label="Number of users" id="numberOfUsers">
                        <option value="1">1</option>
                        <option value="1">2-3</option>
                        <option value="1">4</option>
                        <option value="1">5+</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row">
            <!--First Plan-->
            <div class="col-12  col-md-6 col-xl-3  mx-auto price-plan ">
                <div class="plan    wow fadeInUp  " data-wow-delay=".1s ">
                    <div class="plan-head">
                        <i class="flaticon-nft-1 plan-icon"></i>
                        <h4 class="plane-name">free plan</h4>
                        <div class="plan-price">
                            <h3 class="price">45<sup class="currency-symbol">$</sup>
                            </h3>
                            <span class="per">user/month</span>
                        </div>
                    </div>
                    <div class="plan-details">
                        <ul class="plan-list">
                            <li class="plan-feat ">
                                <span class="feat-text">For the first user / month</span></li>
                            <li class="plan-feat ">
                                <span class="feat-text">Pricing is tiered, see pricing popup...</span></li>
                            <li class="plan-feat ">
                                <span class="feat-text">* 2GBs storage per defined user</span></li>
                            <li class="plan-feat ">
                                <span class="feat-text">Add-on Portal Rotate Pricing & Info</span></li>
                            <li class="plan-feat "><span class="feat-text">Add-on My Portal Pricing & Info?</span></li>
                            <li class="plan-feat "><span class="feat-text">10% Yearly discounts at checkout</span></li>
                        </ul>
                    </div>
                    <div class="plan-cta">
                        <a class="cta-btn btn-outline " href="#0">start now  </a>
                    </div>
                </div>
            </div>
            <!--Second-plan-->
            <div class="col-12  col-md-6 col-xl-3  mx-auto price-plan ">
                <div class="plan    wow fadeInUp  " data-wow-delay=".3s ">
                    <div class="plan-head">
                        <i class="flaticon-virtual-reality plan-icon"></i>
                        <h4 class="plane-name">standerd plan</h4>
                        <div class="plan-price">
                            <h3 class="price">25<sup class="currency-symbol">$</sup>
                            </h3>
                            <span class="per">user/month</span>
                        </div>
                    </div>
                    <div class="plan-details">
                        <ul class="plan-list">
                            <li class="plan-feat ">
                                <span class="feat-text"> 150 Lorem, ipsum dolor. </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> 20 Lorem ipsum dolor sit . </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> Lorem ipsum dolor sit. </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> free Lorem ipsum dolor . </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> added Lorem ipsum dolor. </span></li>
                        </ul>
                    </div>
                    <div class="plan-cta">
                        <a class="cta-btn btn-outline " href="#0">start now  </a>
                    </div>
                </div>
            </div>
            <!--Third-plan-->
            <div class="col-12  col-md-6 col-xl-3  mx-auto price-plan ">
                <div class="plan   featured  wow fadeInUp  " data-wow-delay=".5s ">
                    <div class="plan-head">
                        <i class="flaticon-box plan-icon"></i>
                        <h4 class="plane-name">pro plan</h4>
                        <div class="plan-price">
                            <h3 class="price">20<sup class="currency-symbol">$</sup>
                            </h3>
                            <span class="per">user/month</span>
                        </div>
                    </div>
                    <div class="plan-details">
                        <ul class="plan-list">
                            <li class="plan-feat ">
                                <span class="feat-text"> 150 Lorem, ipsum dolor. </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> 20 Lorem ipsum dolor sit . </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> Lorem ipsum dolor sit. </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> free Lorem ipsum dolor . </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> added Lorem ipsum dolor. </span></li>
                        </ul>
                    </div>
                    <div class="plan-cta">
                        <a class="cta-btn btn-outline " href="#0">start now  </a>
                    </div>
                </div>
            </div>
            <!--fourth-plan-->
            <div class="col-12  col-md-6 col-xl-3  mx-auto price-plan ">
                <div class="plan    wow fadeInUp  " data-wow-delay=".6s ">
                    <div class="plan-head">
                        <i class="flaticon-basic-shapes plan-icon"></i>
                        <h4 class="plane-name">ultimate plan</h4>
                        <div class="plan-price">
                            <h3 class="price">20<sup class="currency-symbol">$</sup>
                            </h3>
                            <span class="per">user/month</span>
                        </div>
                    </div>
                    <div class="plan-details">
                        <ul class="plan-list">
                            <li class="plan-feat ">
                                <span class="feat-text"> 150 Lorem, ipsum dolor. </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> 20 Lorem ipsum dolor sit . </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> Lorem ipsum dolor sit. </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> free Lorem ipsum dolor . </span></li>
                            <li class="plan-feat ">
                                <span class="feat-text"> added Lorem ipsum dolor. </span></li>
                        </ul>
                    </div>
                    <div class="plan-cta">
                        <a class="cta-btn btn-outline " href="#0">start now  </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center my-5">
            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">30 Day Money Back Guarantee</h2>
            <p class="subtitle   wow fadeInUp " data-wow-delay=".6s">If you feel IT Portal is not adding value to your business, we will give you a full refund</p>
        </div>

    </div>
</section>
<!-- End  pricing Section-->