<!-- Start  services Section-->
<section class="services services-boxed mega-section  ">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class="pre-title">Integrations</span>
                <h2 class="title">
                    PSAs, RMMS, Authentication and Data <span class='hollow-text'>Integrations</span></h2>
                <p class="subtitle">
                    <strong>Accelerate your IT operations with IT Portal's seamless integrations.</strong> You have data in a variety of sources. IT Portal allows you to easily import data from your existing PSAs, RMMs and familiar platforms like Excel, Office 365, and VMware. Our exceptional customer support helps to ensure a smooth onboarding process. </p>
                <p class="subtitle">For extra security, safeguard your sensitive data by using SAML, Office 365, Active Directory, and other authentication options.<p></div>
                    {# <div class=" cta-area   wow fadeInUp" data-wow-delay=".8s">
                <a class="cta-btn btn-solid    ">see all integrations <i class="bi bi-arrow-right icon "></i>
                </a>
            </div> #}
                </div>
                <div class="row gx-4 gy-4 services-row ">
                    {# NOTE: data is coming from /src/_data/integrations.json #}
                    {% for item in integrations.items %}
                        {% if item.category == "top" %}
                            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                                <div class="box service-box service-box-integrations  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".1s">
                                    <div class="service-icon">
                                        {# <i class="flaticon-web-development font-icon"></i> #}
                                        <img src="{{ item.img }}" class="img-fluid"/>
                                    </div>
                                    <span class="service-num hollow-text">1    </span>
                                    <div class="service-content">
                                        <h3 class="service-title">{{ item.name }}</h3>
                                    </div>
                                    <a class="read-more" href="{{ item.href }}">Read KB Article<i class="bi bi-arrow-right icon "></i>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End  services Section-->