<!-- Start  services Section-->
<section class="services services-boxed mega-section  " id="services">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Integrations</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">
                    PSAs, RMMS, Authentication and Data <span class='hollow-text'>Integrations</span></h2>
                <p class="subtitle   wow fadeInUp " data-wow-delay=".6s"> You have data in a variety of sources. Bring them into the Portal and start adding your documentation. Import from PSAs, RMMs, and data sources like Excel, Office 365, and VMWare. Provide an extra layer of security by using SAML, Office 365, Active Directory, and other authentication options. </p>
            </div>
            {# <div class=" cta-area   wow fadeInUp" data-wow-delay=".8s">
                <a class="cta-btn btn-solid    ">see all integrations <i class="bi bi-arrow-right icon "></i>
                </a>
            </div> #}
        </div>
        <div class="row gx-4 gy-4 services-row ">
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start First service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".1s">
                    <div class="service-icon">
                        {# <i class="flaticon-web-development font-icon"></i> #}
                        <img src="https://www.autotask.net/Mvc/FrameworkContent/Images/Authentication/AutotaskLogo.svg" class="img-fluid" />
                    </div>
                    <span class="service-num hollow-text">1    </span>
                    <div class="service-content">
                        <h3 class="service-title">Autotask</h3>
                    </div>
                    <a class="read-more" href="http://kb.siportal.com/portal3/kb/#article/?rID=KB&KBID=27&Method=View&Permalink=3F28241D47786040465B535C627E705C484754566371703F3F44DBE2ACCC0D08BC4F82843CA5241EED1391E1318F866C95371FAFB02CE26B642867989C26D31A67">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End First service box   -->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start Second service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".2s">
                    <div class="service-icon">
                        {# <i class="flaticon-nanotechnology font-icon"></i> #}
                        <img src="https://www.connectwise.com/globalassets/media/logos/company-logos/connectwise_logo.svg" class="img-fluid" />
                    </div>
                    <span class="service-num hollow-text">2    </span>
                    <div class="service-content">
                        <h3 class="service-title">ConnectWise</h3>
                    </div>
                    <a class="read-more" href="https://marketplace.connectwise.com/si-portal">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End Second service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start Third service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".3s">
                    <div class="service-icon">
                        {# <i class="flaticon-web-domain font-icon"></i> #}
                        <img class="img-fluid" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJMYXllcl8yIiB4
bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDgwLjY1ODM5
IDIxOS4zMzAxIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9PC9zdHlsZT48L2RlZnM+
PGcgaWQ9IkxheWVyXzEtMiI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJtNTY3LjE1NTA4LDUzLjYy
NjNjLTIxLjM3MTA4LjY1NjYxLTQxLjEyMTY1LDExLjU1MzQ1LTUzLjA3MzczLDI5LjI4MjA2LTQu
ODMxNTctMTYuNzYzOTgtMTguNTIwODktMjkuMjgyMDYtNDIuNjc4NjEtMjkuMjgyMDYtMTkuODQz
MzMuOTUyNjctMzguMzA5MjcsMTAuNDI1ODEtNTAuNjU3OTQsMjUuOTg3ODN2LTEwLjAyOTExYzAt
OC4wODYwMi02LjU1NTAyLTE0LjY0MTAzLTE0LjY0MTAzLTE0LjY0MTAzcy0xNC42NDEwMyw2LjU1
NS0xNC42NDEwMywxNC42NDEwM3YxMzIuNzk0MTJjMCw4LjA4NjAxLDYuNTU1MDIsMTQuNjQxMDMs
MTQuNjQxMDMsMTQuNjQxMDNzMTQuNjQxMDMtNi41NTUwMiwxNC42NDEwMy0xNC42NDEwM3YtOTku
Nzc4NmM4LjY4NTAxLTEzLjE0MDcsMjIuODg4NS0yMS42MDM0OSwzOC41NzkwOC0yMi45ODY0MSwx
OS45ODUwMywwLDI3LjMwNTU0LDExLjg1OTIyLDI3LjMwNTU0LDMwLjM4MDEzdjkyLjM4NDg4Yy0x
LjI3NDUyLDcuOTg0OTUsNC4xNjUzMiwxNS40OTEyMiwxMi4xNTAyNCwxNi43NjU3Nyw3Ljk4NDky
LDEuMjc0NTUsMTUuNDkxMjUtNC4xNjUyOSwxNi43NjU3Ny0xMi4xNTAyMS4yNDQwMS0xLjUyODg0
LjI0NDAxLTMuMDg2NzIsMC00LjYxNTU2di0xMDAuMTQ0NjJjOC45NDkyNC0xMy4xNjEyNCwyMy40
MzUyOC0yMS40OTY3NSwzOS4zMTExOC0yMi42MjAzOSwxOS4zMjYxNSwwLDI3LjQ1MTkzLDExLjg1
OTI0LDI3LjQ1MTkzLDMwLjM4MDEzdjkyLjAxODg2Yy0uMTAxMDksOC4wODYwMSw2LjM3MTk5LDE0
LjcyMjk2LDE0LjQ1OCwxNC44MjQwMiw4LjA4NjAxLjEwMTA5LDE0LjcyMjk2LTYuMzcxOTksMTQu
ODI0MDUtMTQuNDU4di0xMDEuMjQyNzFjLjM2NjA1LTMxLjkxNzQzLTE1LjE1MzQ2LTQ3LjUxMDEz
LTQ0LjQzNTUyLTQ3LjUxMDEzWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0ibTkxNS4zOTQ1OCw1
MS41MTUxaC0yMi4xNDg1VjEyLjgxMTgxYy0uNTY0NS03LjYxOTA4LTcuMTk4NjctMTMuMzM3OTIt
MTQuODE3NzYtMTIuNzczMzYtNi44MzM4My41MDYzNi0xMi4yNjcwMyw1LjkzOTU1LTEyLjc3MzM5
LDEyLjc3MzM2djM4LjcwMzI3aC0yMi42Nzc3Yy03LjYxOTEtLjU2NDQtMTQuMjUzMTUsNS4xNTQ1
OC0xNC44MTc1MywxMi43NzM2OC0uNTY0MzgsNy42MTkxLDUuMTU0NjQsMTQuMjUzMTIsMTIuNzcz
NzQsMTQuODE3NTIuNjgwMy4wNTAzOSwxLjM2MzQ5LjA1MDM5LDIuMDQzNzksMGgyMi42Nzc3djEy
Ni4zOTA0MWMtLjA0MTc1LDcuNTk4MSw2LjA4Mzg2LDEzLjc5MTQ1LDEzLjY4MTk2LDEzLjgzMzIx
LjAyNTI2LjAwMDE0LjA1MDY0LjAwMDIuMDc1OS4wMDAyLDcuNDM0NzgtLjA3MzQ1LDEzLjUxMjI5
LTUuOTUxNjQsMTMuODMzNDEtMTMuMzc5ODV2LTEyNi44NDM5NmgyMi4xNDg1YzcuNjE5MS41NjQ0
LDE0LjI1MzE1LTUuMTU0NTgsMTQuODE3NTMtMTIuNzczNjhzLTUuMTU0NjQtMTQuMjUzMTItMTIu
NzczNzQtMTQuODE3NTJjLS42ODAzLS4wNTAzOS0xLjM2MzQ5LS4wNTAzOS0yLjA0Mzc5LDBoLS4w
MDAxMloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Im03OTEuNDE4MSw3OC4zNjAxNWMtMzAuODU0
MDYtMzEuMzQxMy04MC44MTcwOC0zMy4xMjIyNS0xMTMuODI0NDItNC4wNTczNmwuMTQ5MDctLjAw
MDA4Yy01Ljc0MTc2LDQuODk4MDItNi40MjU3NSwxMy41MjMxNC0xLjUyNzgxLDE5LjI2NDksNC44
OTgwMiw1Ljc0MTc2LDEzLjUyMzE0LDYuNDI1NzUsMTkuMjY0OSwxLjUyNzgxLDIzLjE3Njc1LTIw
LjAxNDYxLDU4LjE5MDE5LTE3LjQ1MTI4LDc4LjIwNDg4LDUuNzI1NDYsMjAuMDE0NTMsMjMuMTc2
NjcsMTcuNDUxMjEsNTguMTkwMTktNS43MjU1NCw3OC4yMDQ4LTIxLjk5MzQzLDE4Ljk5Mjg1LTU0
LjkxOTQ3LDE3Ljc4MzQzLTc1LjQ2MDM4LTIuNzcxNzEtMTQuMDg3MDktMTMuNjYzOTktMTkuNzc0
ODMtMzMuODI3MzUtMTQuOTA1MTItNTIuODM4NzksMS44NzI3Ny03LjMwNTc4LTIuNTMxNjEtMTQu
NzQ2NDgtOS44MzczOS0xNi42MTkyNS03LjMwNTg2LTEuODcyNzctMTQuNzQ2NTYsMi41MzE2MS0x
Ni42MTkyNSw5LjgzNzM5LTYuNzM1NTksMjguMjEsMS41NDU5Miw1Ny44OTk0OCwyMS45MTA1NSw3
OC41NTAxNiwxNS41NDI4NSwxNS41MTA1OCwzNi42MTkxNSwyNC4xOTg1LDU4LjU3NzIzLDI0LjE0
NjM5LDIxLjk1NTYzLS4wNDEwNCw0My4wNDc0My04LjU1NzgzLDU4Ljg3NTM3LTIzLjc3Mzc1LDMy
LjYxNjI3LTMyLjEwOTI3LDMzLjAyNzI3LTg0LjU3OTcuOTE3OTItMTE3LjE5NTk3Wm0tMTA1LjAy
MzY1LDE2LjMwMDIzYy01LjIyNzU2LDAtOS40NjUzMS00LjIzNzgzLTkuNDY1MzEtOS40NjUzOXM0
LjIzNzc1LTkuNDY1MzksOS40NjUzMS05LjQ2NTM5LDkuNDY1MzksNC4yMzc4Myw5LjQ2NTM5LDku
NDY1MzktNC4yMzc4Myw5LjQ2NTM5LTkuNDY1MzksOS40NjUzOVoiLz48cGF0aCBjbGFzcz0iY2xz
LTEiIGQ9Im0yMTEuNjQxNTgsMTk0LjU5NjIyYzMwLjg1NDA2LDMxLjM0MTMsODAuODE3MDgsMzMu
MTIyMjUsMTEzLjgyNDQyLDQuMDU3MzZsLS4xNDkwNy4wMDAwOGM1Ljc0MTc2LTQuODk4MDIsNi40
MjU3NS0xMy41MjMxNCwxLjUyNzgxLTE5LjI2NDktNC44OTgwMi01Ljc0MTc2LTEzLjUyMzE0LTYu
NDI1NzUtMTkuMjY0OS0xLjUyNzgxLTIzLjE3Njc1LDIwLjAxNDYxLTU4LjE5MDE5LDE3LjQ1MTI4
LTc4LjIwNDg4LTUuNzI1NDYtMjAuMDE0NTMtMjMuMTc2NjctMTcuNDUxMjEtNTguMTkwMTksNS43
MjU1NC03OC4yMDQ4LDIxLjk5MzQzLTE4Ljk5Mjg1LDU0LjkxOTQ3LTE3Ljc4MzQzLDc1LjQ2MDM4
LDIuNzcxNzEsMTQuMDg3MDksMTMuNjYzOTksMTkuNzc0ODMsMzMuODI3MzUsMTQuOTA1MTIsNTIu
ODM4NzktMS44NzI3Nyw3LjMwNTc4LDIuNTMxNjEsMTQuNzQ2NDgsOS44MzczOSwxNi42MTkyNSw3
LjMwNTg2LDEuODcyNzcsMTQuNzQ2NTYtMi41MzE2MSwxNi42MTkyNS05LjgzNzM5LDYuNzM1NTkt
MjguMjEtMS41NDU5Mi01Ny44OTk0OC0yMS45MTA1NS03OC41NTAxNi0xNS41NDI4NS0xNS41MTA1
OC0zNi42MTkxNS0yNC4xOTg1LTU4LjU3NzIzLTI0LjE0NjM5LTIxLjk1NTYzLjA0MTA0LTQzLjA0
NzQzLDguNTU3ODMtNTguODc1MzcsMjMuNzczNzUtMzIuNjE2MjcsMzIuMTA5MjctMzMuMDI3Mjcs
ODQuNTc5Ny0uOTE3OTIsMTE3LjE5NTk3Wm0xMDUuMDIzNjUtMTYuMzAwMjNjNS4yMjc1NiwwLDku
NDY1MzEsNC4yMzc4Myw5LjQ2NTMxLDkuNDY1MzlzLTQuMjM3NzUsOS40NjUzOS05LjQ2NTMxLDku
NDY1MzktOS40NjUzOS00LjIzNzgzLTkuNDY1MzktOS40NjUzOSw0LjIzNzgzLTkuNDY1MzksOS40
NjUzOS05LjQ2NTM5WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0ibTE1Mi45Nzc4NywxMjAuOTgz
NjhWMTMuMTU4MzZDMTUyLjk3Nzg3LDUuODk2OTQsMTQ3LjA4MDk1LjAwMDAyLDEzOS44MTk1My4w
MDAwMnMtMTMuMTU4MzMsNS44OTY5Mi0xMy4xNTgzMywxMy4xNTgzM3YxMDguMjE1MjFjLjIxOTMs
Ny4wOTA4My41MzYxLDI3LjQzNzUxLS41MzYxLDM2LjI1ODUzLTIuMzg4LDE5LjQ5Mzg1LTI0LjIy
MTEyLDM1LjM1Njk4LTQ4LjY4NTgyLDM1LjM1Njk4LTI4LjE5Mjk5LDAtNTEuMTIyNjEtMjMuMDAy
NzctNTEuMTIyNjEtNTEuMjY4ODNzMjMuMDI3MDQtNTEuMjY4ODMsNTEuMzQxOTEtNTEuMjY4ODNj
My4yNjUxOSwwLDYuNDU3My44MDQxMiwxMC41MDIyNSwxLjgwMzE4bDEuNDM3NzMuMzY1NTJjNy4w
NjY0OCwxLjc1NDQ2LDE0LjIwNjExLTIuNTU4NTgsMTUuOTM2MjEtOS42MDA3LDEuNzU0NDYtNy4w
NjY1Ni0yLjU1ODU4LTE0LjE4MTc1LTkuNjAwNzgtMTUuOTM2MjFsLTEuMzY0NS0uMzQxMTZjLTQu
ODczNS0xLjIxODM2LTEwLjM4MDQ2LTIuNjA3MjktMTYuODg2NTUtMi42MDcyOUMzNC44NDUyMyw2
NC4xMzQ3NCwwLDk4LjkzMTI2LDAsMTQxLjcyMDI0czM0Ljc0NzcyLDc3LjYwOTg2LDc3LjQ2MzYz
LDc3LjYwOTg2YzM3LjkzOTkyLDAsNzAuNzg3MDQtMjUuNjgzMTMsNzQuODA3NjItNTguNDgxNTQs
MS41MTA3My0xMi40MDI5My44MDQwNC0zNy40NTI1My43MDY2MS0zOS44NjQ4OFptLTYwLjE0OTA4
LTUwLjE2MjQ2YzUuMjI3NTYsMCw5LjQ2NTM5LDQuMjM3NzUsOS40NjUzOSw5LjQ2NTM5cy00LjIz
NzgzLDkuNDY1MzEtOS40NjUzOSw5LjQ2NTMxLTkuNDY1MzEtNC4yMzc3NS05LjQ2NTMxLTkuNDY1
MzEsNC4yMzc3NS05LjQ2NTM5LDkuNDY1MzEtOS40NjUzOVptNDcuMDA2NzItNDguMTk5ODVjLTUu
MjI3NTYsMC05LjQ2NTMxLTQuMjM3ODMtOS40NjUzMS05LjQ2NTM5czQuMjM3NzUtOS40NjUzOSw5
LjQ2NTMxLTkuNDY1MzksOS40NjUzOSw0LjIzNzgzLDkuNDY1MzksOS40NjUzOS00LjIzNzc1LDku
NDY1MzktOS40NjUzOSw5LjQ2NTM5WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0ibTEwNjYuMjk0
NjgsMTkxLjM2NzFoLTcwLjgyOTQ2bDgyLjUwNi0xMTUuMjMxNzhjMy4xMTEyNS00LjM0MzMzLDMu
NTU1MTItMTAuMDU0NTUsMS4xNTIyNy0xNC44MjY1MS0yLjMyOTczLTQuNzM3MzEtNy4xNjYwMS03
LjcyMjYyLTEyLjQ0NTAxLTcuNjgyMWgtOTguNDg0NjljLTcuNzQyOTIuNTczNTctMTMuNTU0ODks
Ny4zMTU0My0xMi45ODEzMiwxNS4wNTg0My41MTQ0Nyw2Ljk0NTA5LDYuMDM2MjMsMTIuNDY2ODYs
MTIuOTgxMzIsMTIuOTgxMzJoNzAuOTA1OTNsLTgyLjU4MjcsMTE1LjIzMTdjLTMuMDQ4MDgsNC4z
Mzc1NC0zLjQ4OTc1LDkuOTkxNDUtMS4xNTIyNywxNC43NDk2MywyLjM0MzkxLDQuNzI0NDMsNy4x
NzExNCw3LjcwNDE5LDEyLjQ0NDkzLDcuNjgyMThoOTguNDg0NjljNy43MTI1MS0uMTIzNDIsMTMu
OTM0ODUtNi4zNDU4NCwxNC4wNTgyNy0xNC4wNTgzNS0uMDQyMzEtNy43MjE1Ni02LjMzNjMxLTEz
Ljk0NjkyLTE0LjA1Nzk1LTEzLjkwNDUzWm0tOTcuMDcwNS0xMTMuNzM5NThjLTUuMzg4NTcsMC05
Ljc1Njg0LTQuMzY4MzYtOS43NTY4NC05Ljc1NjkyczQuMzY4MjgtOS43NTY4NCw5Ljc1Njg0LTku
NzU2ODQsOS43NTY5Miw0LjM2ODI4LDkuNzU2OTIsOS43NTY4NC00LjM2ODM2LDkuNzU2OTItOS43
NTY5Miw5Ljc1NjkyWm05Ny4yMzE1LDEzNy40Mjk5N2MtNS4zODg1NywwLTkuNzU2ODQtNC4zNjgz
Ni05Ljc1Njg0LTkuNzU2OTJzNC4zNjgyOC05Ljc1Njg0LDkuNzU2ODQtOS43NTY4NCw5Ljc1Njky
LDQuMzY4MjgsOS43NTY5Miw5Ljc1Njg0LTQuMzY4MjgsOS43NTY5Mi05Ljc1NjkyLDkuNzU2OTJa
Ii8+PC9nPjwvc3ZnPg==">
                    </div>
                    <span class="service-num hollow-text">3    </span>
                    <div class="service-content">
                        <h3 class="service-title">domotz</h3>
                    </div>
                    <a class="read-more" href="https://www.domotz.com/integrations/software/documentation/it-portal.php">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End Third service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start fourth service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".4s">
                    <div class="service-icon">
                        {# <i class="flaticon-profile font-icon"></i> #}
                        <img src="https://www.vmware.com/content/dam/digitalmarketing/vmware/en/images/company/vmware-logo-grey.svg" class="img-fluid" />
                    </div>
                    <span class="service-num hollow-text">4    </span>
                    <div class="service-content">
                        <h3 class="">VMware vSphere</h3>
                    </div>
                    <a class="read-more" href="https://kb.siportal.com/portal3/kb/#article/?rID=KB&KBID=7371&Method=View&Permalink=3F28241D46786240434D4E5E6378684F4B4E545D697B684F333946D9ED92C50478BC5AF39031B833048622600816A4EE5B735977B683FA3605661D3AD5EFD31306577C9E">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End fourth service box   -->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 5th service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".5s">
                    <div class="service-icon">
                        {# <i class="flaticon-search font-icon"></i> #}
                        <img src="https://www.autotask.net/Mvc/FrameworkContent/Images/Authentication/AutotaskLogo.svg" class="img-fluid" />
                    </div>
                    <span class="service-num hollow-text">5    </span>
                    <div class="service-content">
                        <h3 class="service-title">Autotask Endpoint Management</h3>
                    </div>
                    <a class="read-more" href="#">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End 5th service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 6th service box-->
                <div class="box service-box  wow fadeInUp  reveal-start" data-wow-offset="0" data-wow-delay=".6s">
                    <div class="service-icon">
                        {# <i class="flaticon-strategy font-icon"></i> #}
                        <img src="https://www.connectwise.com/globalassets/media/logos/company-logos/connectwise_logo.svg" class="img-fluid" />
                    </div>
                    <span class="service-num hollow-text">6    </span>
                    <div class="service-content">
                        <h3 class="">Connectwise AUTOMATE</h3>
                    </div>
                    <a class="read-more" href="http://kb.siportal.com/portal3/kb/#article/?rID=KB&KBID=7324&Method=View&Permalink=3F28241D477C7F5D5D46515D6B69615F48465856627C702E3F41DAF6973D0309BC5CF39E33B5C90D81048AF005BF9954662D12BBA9EAC63D6B6BCFCFE3D729C9B51D83">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
                <!-- End 6th service box-->
            </div>
        </div>
    </div>
</section>
<!-- End  services Section-->