<!-- Start  services Section-->
<section class="services services-boxed mega-section  ">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Features</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">
                    Top <span class='hollow-text'>IT Portal</span> Features</h2>
                <p class="subtitle   wow fadeInUp " data-wow-delay=".6s">See what makes our Portal unlike anything else out there</p>
            </div>
            {# <div class=" cta-area   wow fadeInUp" data-wow-delay=".8s">
                <a class="cta-btn btn-solid    ">see all features <i class="bi bi-arrow-right icon "></i>
                </a>
            </div> #}
        </div>
        <div class="row gx-4 gy-4 services-row ">
            {# NOTE: custom first item #}
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="service-icon">
                        <i class="flaticon-unlock font-icon"></i>
                    </div>

                    <div class="service-content">
                        <h3 class="service-title">Browser Password Plugin</h3>
                        <p class="service-text">The IT Portal Password Plug-in will allow you to find any shared and personal passwords from your IT Portal. It searches the Portal for the site you are on and recommends credentials to use for login. Use the plug-in to search for credentials and 2FA codes without having to log in to the IT Portal.</p>
                    </div>
                    <a class="read-more" href="/features/password-plugin/">read more<i class="bi bi-arrow-right icon "></i>
                    </a>
                </div>
            </div>

            {% for item in collections.featuresCollection %}
                {% if item.data.category == "top-features" %}
                    <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                        <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon">
                                <i class="{{ item.data.icon | default("flaticon-web-development") }} font-icon"></i>
                            </div>
                            {# <span class="service-num hollow-text">1    </span> #}
                            <div class="service-content">
                                <h3 class="service-title">{{ item.data.title }}</h3>
                                <p class="service-text">{{ item.data.excerpt }}</p>
                            </div>
                            <a class="read-more" href="{{ item.data.permalink }}">read more<i class="bi bi-arrow-right icon "></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- End  services Section-->