<section class="py-5">
    <div class="container">
        <div class="sec-heading  light-title ">
            <div class="content-area mw-100">
                <span class="pre-title wow fadeInUp mw-100" data-wow-delay=".2s">a picture is worth a thousand words</span>

                <h2 class="title    wow fadeInUp" data-wow-delay=".4s">
                    <a href="https://kb.itportal.com/?U=KQ8VTIvC" target="_blank" class="read-more featured-text">AI Powered <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none">
                            <path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path>
                        </svg>
                    </a> - IT Documentation
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <p class=" about-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia molestiae dolorum tempora ut accusamus cupiditate! Nesciunt tempora reiciendis libero voluptate!</p>
            </div>
        </div>
        <div class="row info-items-list">
            <div class="col-12 col-lg-6 order-lg-2 offset-lg-1 mt-5 mt-lg-0">
                <ul class="nav flex-column gap-3 nav-tabs" id="videosTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-start active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                            <div class="info-item mb-0">
                                <span class="info-number ">01.</span>
                                <div class="info-content">
                                    <h5 class="info-title">Engineer Video</h5>
                                    <p class="info-text mb-0">See how as an engineer you can benefit from a central documentation repository.</p>
                                </div>
                            </div>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-start" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                            <div class="info-item mb-0">
                                <span class="info-number ">02.</span>
                                <div class="info-content">
                                    <h5 class="info-title">Manager Video</h5>
                                    <p class="info-text mb-0">As a manager, find piece of mind knowing knowledge is centralized.</p>
                                </div>
                            </div>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-start" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                            <div class="info-item mb-0">
                                <span class="info-number ">03.</span>
                                <div class="info-content">
                                    <h5 class="info-title">15 Minute Overview</h5>
                                    <p class="info-text mb-0">Also review our quick 15 minute overview video to get a good grasp of what is needed for documentation.</p>
                                </div>
                            </div>
                        </button>
                    </li>
                </ul>
                <div class="cta-area mt-4">
                    <button type="button" class="btn-solid" data-bs-toggle="modal" data-bs-target="#modalLiveDemo">Live Demo</butto>
                </div>
            </div>
            <div class="order-lg-1 pt-4 pt-lg-0 col-12 col-lg-5 d-flex align-items-center about-col  wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="col-12 col-lg-5 tab-content w-100" id="videosTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/eVfyL85j4QM?si=hor1jWLC7tO3XDHS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <div class="ratio ratio-16x9">
                            <video controls>
                                <source src="/assets/migrated/video2.ogx" type="video/ogg">
                                {# <source src="https://www.itportal.com/v4/videos/video2.ogv" type="video/ogg"> #}
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/1h1o9EHAJtQ?si=nUeAS-WJhbtEg0xG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>