<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center about-col  wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="img-area  ">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eVfyL85j4QM?si=hor1jWLC7tO3XDHS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center about-col pad-start  wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="text-area ">
                    <div class="sec-heading  light-title ">
                        <div class="content-area">
                            <span class="pre-title       wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">a picture is worth a thousand words</span>
                            <h2 class="title    wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            IT Documentation<br/>
                                <a href="https://kb.itportal.com/?U=KQ8VTIvC" target="_blank" class="featured-text">AI Powered <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none">
                                        <path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path>
                                    </svg>
                                </a>
                            </h2>
                        </div>
                    </div>
                    <p class=" about-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia molestiae dolorum tempora ut accusamus cupiditate! Nesciunt tempora reiciendis libero voluptate!</p>
                    <div class="info-items-list">
                        <div class="row ">
                            <div class="col-12 ">
                                <div class="info-item">
                                    <span class="info-number ">01.</span>
                                    <div class="info-content">
                                        <h5 class="info-title">Engineer Video</h5>
                                        <p class="info-text">See how as an engineer you can benefit from a central documentation repository.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="info-item">
                                    <span class="info-number ">02.</span>
                                    <div class="info-content">
                                        <h5 class="info-title">Manager Video</h5>
                                        <p class="info-text">As a manager, find piece of mind knowing knowledge is centralized.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="info-item">
                                    <span class="info-number ">03.</span>
                                    <div class="info-content">
                                        <h5 class="info-title">15 Minute Overview</h5>
                                        <p class="info-text">Also review our quick 15 minute overview video to get a good grasp of what is needed for documentation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cta-area ">
                        <a class=" btn-solid " href="about-us.html">get in toutch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>