---
title: Integrations
excerpt: TODO
layout: layouts/layout-base.njk
permalink: "{{ baseUrl }}/integrations/"
eleventyNavigation:
  key: Integrations
  order: 3
bodyClass: page-integrations
---

{% include "sections/hero-integrations.njk" %}
{% include "sections/top-integrations.njk" %}
<section class="services services-boxed mega-section  " id="integrations-psa-rmm">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Even More Integrations</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">
                    PSAs & RMMs</h2>
            </div>
        </div>
        <div class="row gx-4 gy-4 services-row ">
            {# NOTE: data is coming from /src/_data/integrations.json #}
            {% for item in integrations.items %}
                {% if item.category == "psa-rmm" %}
                    <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                        <div class="box service-box service-box-integrations  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon">
                                {# <i class="flaticon-web-development font-icon"></i> #}
                                <img src="{{ item.img }}" class="img-fluid"/>
                            </div>
                            <span class="service-num hollow-text">1    </span>
                            <div class="service-content">
                                <h3 class="service-title">{{ item.name }}</h3>
                            </div>
                            <a class="read-more" href="{{ item.href }}">read more<i class="bi bi-arrow-right icon "></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="services services-boxed mega-section  " id="integrations-psa-rmm">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Even More Integrations</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">
                    Authentication & Data</h2>
            </div>
        </div>
        <div class="row gx-4 gy-4 services-row ">
            {# NOTE: data is coming from /src/_data/integrations.json #}
            {% for item in integrations.items %}
                {% if item.category == "authentication-data" %}
                    <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                        <div class="box service-box service-box-integrations  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon">
                                {# <i class="flaticon-web-development font-icon"></i> #}
                                <img src="{{ item.img }}" class="img-fluid"/>
                            </div>
                            <span class="service-num hollow-text">1    </span>
                            <div class="service-content">
                                <h3 class="service-title">{{ item.name }}</h3>
                            </div>
                            <a class="read-more" href="{{ item.href }}">read more<i class="bi bi-arrow-right icon "></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{# {% include "sections/live-demo-cta.njk" %} #}