{# NOTE: not used, aspect-ratio: {{ width | default(725)}} / {{ height | default(540)}} !important; #}
<div id="animation_container" class="{{ wrapperClass }}" style="position: {{ position | default("absolute")}}; right: 0; z-index: -1; width:{{ width | default(725)}}px; height:{{ height | default(540)}}px;">
    <canvas id="canvas" width="{{ width | default(725)}}" height="{{ height | default(540)}}" style="position: {{ position | default("absolute")}}; right: 0; z-index: -1; display: block;"></canvas>
    <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:{{ width | default(725)}}px; height:{{ height | default(540)}}px; position: absolute; left: 0px; top: 0px; display: block;"></div>
</div>

{# <div id="animation_container" class="w-100 position-absolute">
    <canvas id="canvas" width="725" height="540" class="w-100 h-auto"></canvas>
    <div id="dom_overlay_container" class="d-none"></div>
</div> #}

{# NOTE: video canvas stuff #}
<script src="https://code.createjs.com/1.0.0/createjs.min.js" defer></script>
<script src="{{ baseUrl }}/js/animations/{{ animationName }}.js" defer></script>
<script>
    var canvas,
        stage,
        exportRoot,
        anim_container,
        dom_overlay_container,
        fnStartAnimation;
    function init() {
        canvas = document.getElementById("canvas");
        anim_container = document.getElementById("animation_container");
        dom_overlay_container = document.getElementById("dom_overlay_container");
        var comp = AdobeAn.getComposition("{{ compositionId }}");
        var lib = comp.getLibrary();
        handleComplete({}, comp);
    }
    function handleComplete(evt, comp) {
        // This function is always called, irrespective of the content. You can use the variable "stage" after it is created in token create_stage.
        var lib = comp.getLibrary();
        var ss = comp.getSpriteSheet();
        exportRoot = new lib.{{ sceneName }}();
        stage = new lib.Stage(canvas);

        // Registers the "tick" event listener.
        fnStartAnimation = function () {
            stage.addChild(exportRoot);
            createjs.Ticker.framerate = lib.properties.fps;
            createjs
                .Ticker
                .addEventListener("tick", stage);
        }

        // Code to support hidpi screens and responsive scaling.
        // NOTE: AdobeAn.makeResponsive(false, 'both', false, 1, [canvas, anim_container, dom_overlay_container]);
        AdobeAn.makeResponsive(true, 'both', true, 1, [canvas, anim_container, dom_overlay_container]);
        AdobeAn.compositionLoaded(lib.properties.id);
        fnStartAnimation();
    }
</script>