<div id="animation_container" class="canvas-features" style="width:363px; height:270px">
    <canvas id="canvas" class="canvas-features" width="363" height="270"></canvas>
    <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:363px; height:270px; position: absolute; left: 0px; top: 0px; display: block;"></div>
</div>

<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script src="/js/animations/features.js"></script>
<script>
    var canvas,
        stage,
        exportRoot,
        anim_container,
        dom_overlay_container,
        fnStartAnimation;
    function init() {
        canvas = document.getElementById("canvas");
        anim_container = document.getElementById("animation_container");
        dom_overlay_container = document.getElementById("dom_overlay_container");
        var comp = AdobeAn.getComposition("5913D43E621C094BBD3A30C5DD009969");
        var lib = comp.getLibrary();
        handleComplete({}, comp);
    }
    function handleComplete(evt, comp) {
        //This function is always called, irrespective of the content. You can use the variable "stage" after it is created in token create_stage.
        var lib = comp.getLibrary();
        var ss = comp.getSpriteSheet();
        exportRoot = new lib.PageFEATURES_HTML5Canvas();
        stage = new lib.Stage(canvas);
        //Registers the "tick" event listener.
        fnStartAnimation = function () {
            stage.addChild(exportRoot);
            createjs.Ticker.framerate = lib.properties.fps;
            createjs
                .Ticker
                .addEventListener("tick", stage);
        }
        //Code to support hidpi screens and responsive scaling.
        AdobeAn.makeResponsive(false, 'both', false, 1, [canvas, anim_container, dom_overlay_container]);
        AdobeAn.compositionLoaded(lib.properties.id);
        fnStartAnimation();
    }
</script>