<!doctype html>
<html lang="en" class="x-itportal-snap-container">
  <head>
    {% include "../components/meta.njk" %}
  </head>
  <body class="dark-theme {{ bodyClass }}" onload="if (typeof init === 'function') { init(); }">
    <div id="top" class="itportal-anchor-offset"></div>

    {% include "../components/navigation-dynamic.njk" %}
    <main>
      {{ content | safe }}
    </main>

    {% include "../components/footer.njk" %}

    {# NOTE: optional example in case importing in main.js does not work 
    <script src="https://unpkg.co/gsap@3/dist/gsap.min.js" defer></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js" defer></script> #}

    {# NOTE: optional, not used 3rd party libraries from the theme #}
    {# <script src="/js/vendors/appear.min.js"></script> #}
    {# <script src="/js/vendors/jquery.countTo.js"></script> #}
    {# <script src="/js/vendors/particles.min.js"></script> #}
    {# <script src="/js/vendors/vanilla-tilt.min.js"></script> #}
    {# <script src="/js/vendors/isotope-min.js"></script> #}
    {# <script src="/js/vendors/jquery.fancybox.min.js"></script> #}

    <script src="/js/vendors/jquery-3.6.1.min.js" defer></script>
    <script src="/js/vendors/bootstrap.bundle.min.js" defer></script>
    <script src="/js/vendors/wow.min.js" defer></script>
    <script src="/js/vendors/swiper-bundle.min.js" defer></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/cookieconsent.js" defer></script>
    <script src="/js/cookieconsent-init.js" defer></script>
  </body>
</html>