---
layout: layouts/layout-base.njk
---

{# {% include "sections/hero-breadcrumb.njk" %} #}

<div class="service-single ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8  ">
                <h1 class="hero-title  wow fadeInUp mb-4" data-wow-delay=".2s">{{ title }}</h1>
                {{ content | safe }}
            </div>
            <div class="col-12 col-xl-4">
                {% include "components/sidebar-documentation.njk" %}
            </div>
        </div>
    </div>
</div>