---
title: Features
excerpt: TODO
layout: layouts/layout-base.njk
permalink: "{{ baseUrl }}/features/"
eleventyNavigation:
  key: Features
  order: 2
bodyClass: page-features
---

{% include "sections/hero-features.njk" %}
{% include "sections/top-features.njk" %}
<div class=" cta-area   wow fadeInUp text-center" data-wow-delay=".2s">
    <a class="cta-btn btn-solid    ">All features <i class="bi bi-arrow-right icon "></i>
    </a>
</div>
{% include "sections/all-features.njk" %}
{% include "sections/live-demo-cta.njk" %}