---
title: Browser Password Plugin
excerpt: TODO
layout: layouts/layout-base.njk
permalink: "{{ baseUrl }}/features/password-plugin/"
eleventyNavigation:
  key: Browser Password Plugin
  parent: Features
  order: 1
---

{# {% include "sections/hero-breadcrumb.njk" %} #}
{% include "sections/features-sticky-sidebar.njk" %}