---
title: About Us
excerpt: TODO
layout: layouts/layout-base.njk
permalink: /about-us/
eleventyNavigation:
  key: About Us
  order: 7
bodyClass: page-about-us
---

<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/assets/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">About Us</h1>
            {# <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="/">
                            <i class="bi bi-house icon "></i>home</a>
                    </li>
                    <li class="breadcrumb-item active">About Us</li>
                </ul>
            </nav> #}

            {# TODO: temporary fix #}
            <div class="margin-bottom: -200px;">
                {% set animationName = "testimonials" %}
                {% set compositionId = "compositionTestimonials" %}
                {% set sceneName = "sceneTestimonials" %}
                {% set wrapperClass = "canvas-features" %}
                {% set width = 363 %}
                {% set height = 270 %}
                {% set position = "static" %}
                {% include "animations/animation-template.njk" %}
            </div>
        </div>
    </div>
</section>

<section class="services services-boxed mega-section  ">
    <div class="container">
        <h2>Earning our Customer’s Trust Since 2007</h2>
        <div class="row gx-4 gy-4 services-row ">
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start First service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".1s">
                    <div class="service-icon">
                        <i class="flaticon-web-development font-icon"></i>
                    </div>
                    <span class="service-num hollow-text">1    </span>
                    <div class="service-content">
                        <h3 class="service-title">Serving 2,000+ MSPs</h3>
                        <p class="service-text">Empowering MSPs and IT departments worldwide with secure, anytime access to critical IT documentation, both online and offline.</p>
                    </div>
                </div>
                <!-- End First service box   -->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start Second service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".2s">
                    <div class="service-icon">
                        <i class="flaticon-nanotechnology font-icon"></i>
                    </div>
                    <span class="service-num hollow-text">2    </span>
                    <div class="service-content">
                        <h3 class="service-title">Trusted by Thousands</h3>
                        <p class="service-text">IT Portal has been the foundation for efficient IT operations for countless organizations worldwide, including MSPs and IT departments of all sizes.</p>
                    </div>
                </div>
                <!-- End Second service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start 3rd service box-->
                <div class="box service-box  wow fadeInUp reveal-start" data-wow-offset="0" data-wow-delay=".2s">
                    <div class="service-icon">
                        <i class="flaticon-nanotechnology font-icon"></i>
                    </div>
                    <span class="service-num hollow-text">2    </span>
                    <div class="service-content">
                        <h3 class="service-title">Global Presence</h3>
                        <p class="service-text">Our robust cloud offering spans 5 cloud regions: AU, Canada, UK, US and EU. Plus the flexibility to host IT Portal within your own private cloud environment.</p>
                    </div>
                </div>
                <!-- End 3rd service box-->
            </div>
        </div>
    </div>
</section>

<div class="container my-5">
    <h2>Our Story</h2>
    
    {# <p class="">As IT Teams grow, they outgrow the cluttered file shares and excel password lists. They need a secure structured platform that allows for the easy access and sharing of information regarding their IT Infrastructure. Reduce downtime, creates accountability for documentation, and provides peace of mind for managers and IT professionals. Our partners say,</p> #}
    {# <div class="blog">
        <div class="post-main-area">
            <div class="post-content">
                <blockquote cite="#">
                    <i class="fas fa-quote-right icon"></i>
                    <span class="post-quote">
                    "I got this; It is in the Portal!."</span>
                    { # <span class="person-name">- robert bradly</span> # }
                </blockquote>
            </div>
        </div>
    </div>
    <p class="mb-5">Can you?</p> #}
    <div class="row mb-5">
        <div class="col-lg-4">
            <figure>
                <img src="/assets/about/arnaldo-cabral.jpeg" alt="Alex Cabral" class="img-fluid mb-4">
                <figcaption>
                    <strong class="founderName">Alex Cabral</strong> is the CEO and founder of IT Portal Inc.<p></figcaption>
                </figure>
            </div>
            <div class="col-lg-8">
                <h3>We understand the challenges IT professionals face daily. </h3>
                <p>
                    Founded by Alex Cabral, a seasoned IT professional with 20+ years in the industry, IT Portal was born 
from a deep understanding the complexities of managing IT documentation. Frustrated with the status 
quo, Alex saw the need for a solution to address these challenges head-on and developed the IT Portal.
                </p>
                <p>Fueled by feedback from thousands of users and a passion for simplifying complex IT information, 
IT Portal has grown into a trusted partner for IT teams worldwide.</p>
                <p>Alex's commitment to innovation and exceptional customer service continues to be the driving force behind IT Portal's success.</p>
            </div>
        </div>

        <h3>The IT Portal Mission </h3>
        <p>To empower IT teams with an innovative gateway for secure documentation, enabling efficient knowledge sharing and streamlined operations.</p>

        <h3>Our Culture and Values</h3>
        <p>At IT Portal, our core values guide our actions and decisions.</p>
        <ul>
            <li>
                <strong>Customer Centricity</strong>: We prioritize understanding and exceeding customer needs.</li>
            <li>
                <strong>Innovation</strong>: We welcome new ideas and technologies to drive continuous improvement.</li>
            <li>
                <strong>Collaboration</strong>: We work together as a team to achieve common goals by being flexible and open. </li>
            <li>
                <strong>Integrity</strong>: We act with honesty, transparency, and ethical behavior.</li>
        </ul>

        <h3>Our Team</h3>
        <p>Our dedicated team of professionals is committed to providing exceptional support and service to our customers. We combine technical expertise with a deep understanding of the IT industry to deliver flexible solutions that meet the unique needs of our clients. Alex continues
to be a hands-on leader, managing the development team and new business development. </p>

        <h3>Security is in our DNA</h3>
        <p>Your data is our top priority. IT Portal employs robust security measures, including data encryption and secure data centers, to protect your sensitive information <a href="#" class="read-more">click to learn more</a>.</p>
    </div>
    {% include "sections/testimonials.njk" %}