---
title: Demo
excerpt: TODO
layout: layouts/layout-base.njk
permalink: /demo/
---

<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero" style="height: 75vh; min-height: 75vh;">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/assets/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Demo</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="/">
                            <i class="bi bi-house icon "></i>home</a>
                    </li>
                    <li class="breadcrumb-item active">Demo</li>
                </ul>
            </nav>

        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="sec-heading  light-title ">
            <div class="content-area">
                <span class="pre-title       wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">a picture is worth a thousand words</span>
                <h2 class="title    wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <a href="https://kb.itportal.com/?U=KQ8VTIvC" target="_blank" class="featured-text">AI Powered <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none">
                            <path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path>
                        </svg>
                    </a> - IT Documentation
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <p class=" about-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia molestiae dolorum tempora ut accusamus cupiditate! Nesciunt tempora reiciendis libero voluptate!</p>
            </div>
        </div>
        <div class="row info-items-list">
            <div class="col-12 col-lg-8 d-flex align-items-center about-col  wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <img class="img-fluid" src="/assets/migrated/myMSPLogin.png" alt="Screenshot">
            </div>
            <div class="col-12 col-lg-4">
                <h2> Online Demo Available </h2>
                <p> Feel free to login to our demo site and make any change you need to test the service. The database resets nightly so feel free to test your integrations and any functionality you want. </p>
                <div class="cta-area gap-3 d-flex flex-column mt-4">
                    <a class=" btn-solid " href="#live-demo">View Live Demo</a>
                    <a class=" btn-solid " href="/features/mobile/">Mobile Demo</a>
                    <a class=" btn-solid " href="http://demosync.it-portal.com/#start.html">Portal Export Demo</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "sections/videos.njk" %}
{% include "sections/live-demo-contact-form.njk" %}