---
title: Demo | IT Portal
excerpt: TODO
layout: layouts/base.njk
permalink: /demo/
---

<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero" style="height: 75vh; min-height: 75vh;">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Demo</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="#0">
                            <i class="bi bi-house icon "></i>home</a>
                    </li>
                    <li class="breadcrumb-item">features</li>
                    <li class="breadcrumb-item active">Demo</li>
                </ul>
            </nav>

        </div>
    </div>
</section>
<div class="service-single ">
    <div class="container">
        <div class="row">
            <!--Start service content-->
            <div class="col-12 col-xl-8  ">
                <div class="service-content-area">
                    {# <div class="featured-img-area part"><img class="feat-img img-fluid" src="/assets/images/services/service-single-featured-img.jpg" alt="featured image"></div> #}
                    <div class="service-content">
                        <div class="part">
                            <h3 class="service-title">Want more? Explore all IT Portal features now!</h3>
                            {# <img class="img-fluid mb-4" loading="lazy" src="https://www.itportal.com/v4/images/chrome.png?rid=33" alt="TODO"/> #}
                            <p class="service-text"> The IT Portal is a cloud-based/on-prem platform that allows IT teams and managed service providers (MSPs) to store and manage technical information, documentation, and data related to their IT infrastructure. It provides secure access to company-specific documentation, including passwords, configurations, and IT knowledge bases (KBs). The platform also allows for the logical grouping of resources such as sites, facilities, cabinets, and IP networks. The IT Portal integrates with other IT tools, including PSA, RMMs, and data sets like Microsoft 365, and offers features such as password history, revision control, and access logs. The platform is trusted by IT departments around the world and has been used by over 10,000 IT professionals and company users since 2007. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 cta-area   wow fadeInUp" data-wow-delay=".8s">
                <a href="#live-demo" class="cta-btn btn-solid">View live demo <i class="bi bi-arrow-right icon "></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% include "sections/videos.njk" %}
{% include "sections/live-demo-contact-form.njk" %}