---
title: FAQ
excerpt: TODO
layout: layouts/layout-base.njk
permalink: /faq/
eleventyNavigation:
  key: FAQ
  order: 7
---

<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero" style="height: 75vh; min-height: 75vh;">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/assets/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">FAQ</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="/">
                            <i class="bi bi-house icon "></i>home</a>
                    </li>
                    <li class="breadcrumb-item">FAQ</li>
                </ul>
            </nav>

        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        {% include "sections/faq.njk" %}
    </div>
</section>

<!-- Start  take-action Section-->
<section class="take-action elf-section has-dark-bg" id="take-action">
    <div class="overlay-photo-image-bg  " data-bg-img="/assets/sections-bg-images/2.jpg" data-bg-opacity=".25"></div>
    <div class="cta-wrapper">
        <div class="container">
            <div class="sec-heading  centered mb-0 ">
                <div class="content-area">
                    <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">contact us</span>
                    <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">get in totch with us</h2>
                    <p class="subtitle   wow fadeInUp " data-wow-delay=".6s">Lorem ipsum dolor sit amet consectetur adipisicing elit Omnis <br>id atque  dignissimos repellat quae ullam.</p>
                </div>
            </div>
            <!--Start .see-more-area-->
            <div class=" see-more-area wow fadeInUp" data-wow-delay="0.8s">
                <a class=" btn-solid cta-link" href="/contact">contact us</a>
            </div>
            <!--End Of .see-more-area        -->
        </div>
    </div>
</section>
<!-- End  take-action Section-->