---
title: Terms of Use/Refund Policy
excerpt: TODO
layout: layouts/layout-base.njk
permalink: /terms-of-use/
bodyClass: page-terms
---

{% include "sections/hero-generic.njk" %}

<section class="about mega-section" id="about">
  <div class="container">
    <!-- Start first about div-->
    <div class="content-block  ">
      <div class="row">
        <div class="col-12 col-lg-12 d-flex align-items-center order-1 order-lg-0 about-col pad-end  wow fadeInUp " data-wow-delay="0.6s">
          <div class="textArea">
            <h4>IT Portal END-USER LICENSE AGREEMENT VERSION 1.4</h4>
            <p></p>
            <p>
              <strong> IMPORTANT-READ CAREFULLY: </strong> This IT Portal End-User License Agreement ("EULA") is a legal agreement between you (either an individual or a single entity) and IT Portal Inc. for the SOFTWARE(s) identified above, which includes the User's Guide, any associated SOFTWARE components, any media, any printed materials other than the User's Guide, and any "online" or electronic documentation ("SOFTWARE"). By installing, copying, or otherwise using the SOFTWARE, you agree to be bound by the terms of this EULA. If you do not agree to the terms of this EULA, do not use the SOFTWARE.</p>
            <p>
              <strong> 1. DEFINITIONS </strong>
                                "non-commercial entity" is defined as any individual, educational institution, charity or humanitarian organization.
                                "commercial entity" is defined as any corporation registered or otherwise that derives or attempts to derive substantial commercial and monetary gain and benefit from its efforts and endeavors. This includes all Government and Military entities.
                                "Licensed version" means a version of IT Portal that has been licensed for use by a "commercial or non-commercial entity".
                                Licensed version is not free and you are not allowed to distribute it in any ways.
                                "license" means the license you own.
                                "license agreement" means this document. This license agreement is a legal agreement between you (individual or a legal entity) and IT Portal Inc.
                            </p>
            <p>
              <strong> 2. The SOFTWARE </strong> is licensed, not sold.</p>
            <p>
              <strong> 3. GRANT OF LICENSE. </strong>
            </p>
            <p>
              <strong> 2. On Premise Licensed version  </strong><br>
                                When you purchase a license you will be provided with a license key. You should enter the license key as prompted by the Software. The licensed Software may be used by the number of users indicated in your license key and on our invoice.
                            </p>
            <p>
              <strong>3. RESTRICTIONS. </strong><br> You may not reverse engineer, de-compile, or disassemble the SOFTWARE, except and only to the extent that such activity is expressly permitted by applicable law notwithstanding this limitation. You may not rent, lease, or lend the SOFTWARE.</p>
            <p>
              <strong> 4. SUPPORT SERVICES. </strong>
              <br>IT Portal Inc. may provide you with support services related to the SOFTWARE. Use of Support Services is governed by IT Portal Inc. polices and programs described in the user manual, in online documentation, and/or other materials provided by IT Portal Inc., as they may be modified from time to time. Any supplemental SOFTWARE code provided to you as part of the Support Services shall be considered part of the SOFTWARE and subject to the terms and conditions of this EULA. With respect to technical information you provide to IT Portal Inc. as part of the Support Services, IT Portal Inc. may use such information for its business purposes, including for product support and development. IT Portal Inc. will not utilize such technical information in a form that personally identifies you.</p>
            <p>
              <strong> 5. TERMINATION. </strong>
              <br>Without prejudice to any other rights, IT Portal Inc. may terminate this EULA if you fail to comply with the terms and conditions of this EULA. In such event, you must destroy all copies of the SOFTWARE.</p>
            <p>
              <strong> 6. COPYRIGHT. </strong>
              <br>The SOFTWARE is protected by copyright laws and international treaty provisions. You acknowledge that no title to the intellectual property in the SOFTWARE is transferred to you. You further acknowledge that title and full ownership rights to the SOFTWARE will remain the exclusive property of IT Portal Inc. and you will not acquire any rights to the SOFTWARE except as expressly set forth in this license. You agree that any copies of the SOFTWARE will contain the same proprietary notices which appear on and in the SOFTWARE.</p>
            <p>
              <strong> 7. NO WARRANTIES. </strong>
              <br>IT Portal Inc. expressly disclaims any warranty for the SOFTWARE. THE SOFTWARE AND ANY RELATED DOCUMENTATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OR MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON INFRINGEMENT. THE ENTIRE RISK ARISING OUT OF USE OR PERFORMANCE OF THE SOFTWARE REMAINS WITH YOU.</p>
            <p>
              <strong> 8. LIMITATION OF LIABILITY. </strong>
              <br>IN NO EVENT SHALL IT Portal INC. OR ITS SUPPLIERS BE LIABLE TO YOU FOR ANY CONSEQUENTIAL, SPECIAL, INCIDENTAL, OR INDIRECT DAMAGES OF ANY KIND ARISING OUT OF THE DELIVERY, PERFORMANCE, OR USE OF THE SOFTWARE, EVEN IF IT Portal INC. HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ANY EVENT, IT PortalS INC.'S LIABILITY FOR ANY CLAIM, WHETHER IN CONTRACT, OR ANY OTHER THEORY OF LIABILITY WILL NOT EXCEED U.S.$1.00.</p>
            <p>
              <strong> 9. LOGIN ACCOUNTS </strong><br>
                                When you create an IT Portal account, IT Portal require every person to select a unique username and password "Login Credentials",
                                which they will use each time they access the software. Each person can not share their Login Credentials with anyone.
                                You can’t transfer, sell or allow any other person to access your login Credentials, or offer to do so.
                                You are entirely responsible for maintaining the confidentiality of your Login Credentials.
                                Please notify us immediately if you become aware of any breach of security, theft, including any loss, or unauthorized disclosure of your Login Credentials.
                            </p>
            <p>
              <strong>  10. REFUND POLICY. </strong>
              <br>We give you 30 days to try the IT Portal. In those first 30 days you can request a refund.  After the first 30 days you may cancel your IT Portal account at any time but you won't be issued a refund unless it's legally required.
                            </p>
            <p>
              <strong> 11. MISCELLANEOUS. </strong>
              <br> Should you have any questions concerning this EULA, or if you desire to contact the IT Portal Inc. for any reason, please contact by electronic mail at: support@siportal.com or billing@siportal.com. All tickets will be responded to within 24 hours. If you have major issues accessing data, please use the chat option on our website, then use the phone option after that so someone can be contacted. </p>
            <p></p>
            <p>
              <strong> SOFTWARE LICENSED VERSION </strong>
            </p>
            <p>
                                If you choose to license products from IT Portal Inc., some personal information is required to complete the purchase. Information such as your name/company, address, email address and billing information like your credit card number is collected. All methods of purchase are ssl encrypted and detailed information can be obtained from the web site at time of purchase. Your personal information
                                is securely stored, and is never given out to anyone, or used by IT Portal Inc. for anything other than a purchase record.
                            </p>
            <p>
              <strong>FRAUD/PIRACY</strong>
            </p>
            <p> IT Portal Inc. aim to keep your information safe. Credit card fraud, identity theft and software piracy will not be tolerated. IT Portal Inc. may release any information necessary to comply with the law, protect our software licenses, and foremost to protect our valued customers. IT Portal Inc. will also work with law enforcement and fraud/credit agencies to ensure the safety of your information.</p>

            <p>
              <strong>Export Agreement</strong>
            </p>

            <p>You agree that IT Portal (the "Software") will not be shipped, transferred or exported into any country or used in any manner prohibited by the United States Export Administration Act or any other export laws, restrictions or regulations (collectively the "Export Laws"). In addition, if the Software is identified as export controlled items under the Export Laws, you represent and warrant that you are not a citizen, or otherwise located within, an embargoed nation (including without limitation Iran, Syria, Sudan, Libya, Cuba, and North Korea) and that you are not otherwise prohibited under the Export Laws from receiving the Software. All rights to use the Software are granted on condition that such rights are forfeited if you fail to comply with the terms of this Agreement. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "sections/loading.njk" %}
{% include "sections/back-to-top.njk" %}
{# {% include "components/modals/modal-privacy-policy.njk" %} #}