.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  transition: transform 150ms cubic-bezier(.4, 0, .2, 1);

  &:hover,
  &:focus {
    transform: translateX(5px);
  }
}

.btn-primary {
  color: $secondary;

  &:hover,
  &:focus {
    color: $secondary;
  }
}

.btn-outline-primary {
  color: $primary;
  background-color: $white;

  &:hover,
  &:focus {
    color: $primary;
    background-color: $gray-200;
    transform: none;
  }
}

.btn-link {
  text-align: left;
  text-transform: none;

  &:hover,
  &:focus {
    transform: none;
  }
}

.btn-underline {
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
  background-image: none;
  box-shadow: none;

  > span {
    display: inline-flex;
    background-image: linear-gradient($tertiary, #32dbbd);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 2px;
  }

  &:hover,
  &:focus {
    // stylelint-disable declaration-no-important
    text-decoration: none !important;
    transform: none;

    > span {
      background-size: 100% 100%;
      transition: background-size .2s ease;
    }
  }
}

.circle-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 1;
  color: $text-muted;
  background-color: $light;
  border-radius: 100%;

  &.active {
    color: $white;
    background-color: $tertiary;
  }
}
